<!DOCTYPE html>
<html>
	<head>
		<base href="{BASE_URI}" />
		<title><% lang("browse_versions", "Browse Versions") %>: $Title</title>
		
		<meta name="robots" content="noindex,nofollow" />
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		
		<% INCLUDE_JS "versions.js" %>
		
		<% INCLUDE_CSS "jqueryui/theme.css" %>
		<% INCLUDE_CSS "box.css" %>
		<% INCLUDE_CSS "../style.css" %>
		<% INCLUDE_CSS "versions.css" %>
		
		<% GLOAD("g_infobox")%>
		
		<script type="text/javascript">
			var active_version = {$active};
			$(function(){
				$(".linelink").g_infobox({useattr: false, text: ".select > span", "parent": "li", "useparent": true})
			});	
		</script>
	</head>
	<body>
		<div id="wrapper" style="display: none;" class="show-on-js">
			<div id="content">
				<div class="header">
					<h1>{$_lang_browse_versions}: $Title</h1>
				</div>
				<div id="timeline" class="content_container">
					<h2><% lang("versions_timeline", "Timeline") %></h2>
					<div>
						<div class="wrapper">
							<ul>
								<% CONTROL versions() AS $version %>
									<% IF $version.versionid = $versionid %>
										<li class="currentversion">
											<a href="#" class="linelink" name="version_{$version.versionid}"><div class="line"></div></a>
											<a href="#" class="select" id="version_{$version.versionid}">
												<span>
													<% IF $version.snap_priority = 2 %>
														<% lang("state_publish", "Published version") %> {$_lang_version_by} $version.editor.nickname {$_lang_version_at} $version.last_modified.date()
													<% ELSE IF $version.snap_priority = 1 %>
														<% lang("state_state", "Saved version") %> {$_lang_version_by} $version.editor.nickname {$_lang_version_at} $version.last_modified.date()
													<% ELSE %>
														<% lang("state_autosave", "Autosaved version") %> {$_lang_version_by} $version.editor.nickname {$_lang_version_at} </span>$version.last_modified.date()
													<% END %>
													(<% lang("state_current") %>)
												</span>
											</a>
										</li>
									<% ELSE IF $version.snap_priority = 2 %>
										<li class="publish">
											<a href="#" class="linelink" name="version_{$version.versionid}"><div class="line"></div></a>
											<a href="#" class="select" id="version_{$version.versionid}">
												<span><% lang("state_publish", "Published version") %> {$_lang_version_by} $version.editor.nickname {$_lang_version_at} $version.last_modified.date()</span>
											</a>
										</li>
									<% ELSE IF $version.snap_priority = 1 %>
										<li class="state">
											<a href="#" class="linelink" name="version_{$version.versionid}"><div class="line"></div></a>
											<a href="#" class="select" id="version_{$version.versionid}">
												<span><% lang("state_state", "Saved version") %> {$_lang_version_by} $version.editor.nickname {$_lang_version_at} $version.last_modified.date()</span>
											</a>
										</li>
									<% ELSE %>
										<li class="autosave">
											<a href="#" class="linelink" name="version_{$version.versionid}"><div class="line"></div></a>
											<a href="#" class="select" id="version_{$version.versionid}">
												<span><% lang("state_autosave", "Autosaved version") %> {$_lang_version_by} $version.editor.nickname {$_lang_version_at} </span>$version.last_modified.date()
											</a>
											
										</li>
									<% END %>
								<% ENDCONTROL %>
							</ul>
						</div>
						<div class="left"></div>
						<div class="right"></div>
					</div>
				</div>
				<div id="mainview">
					<div id="currentversion" class="left formcontainer content_container">
						<h2><% lang("state_current") %></h2>
						<div>
							$currentform
						</div>
					</div>
					<div id="selectedversion" class="right formcontainer content_container">
						<h2 id="version_name"><span class="point"></span>$version</h2>
						<div>
							$versionform
						</div>
					</div>
				
				</div>
				<!--<div id="subbar">
						<div class="state_current area">
							{$_lang_state_current}
						</div>
						<div class="actions area">
							<input type="button" class="done button" id="done" value="{$_lang_done}" />
							<input type="button" class="restore button" id="restore" value="{$_lang_restore}" />
						</div>
						<div class="version area">
							$version
						</div>
				</div>-->
			</div>
		</div>
			<noscript>
				<div class="error">
					{$_lang_versions_javascript}
				</div>
			</noscript>
	</body>
</html>