<div class="headBar">
	<a href="#" class="leftbar_toggle" title="{$_lang_toggle_sidebar}">
		<img src="system/templates/images/appbar.list.png" alt="{$_lang_show_sidebar}" />
	</a>
	<span class="$classname pageType">
		<img src="$icon" alt="" />
		<span>
	
			<% IF $title %>
				$title
			<% ELSE %>
				$classtitle
			<% END %>
			
		</span>
	</span>
	
	<% IF $this->ID != 0 && $this->stateid %>
	
		<div class="pageinfo versionControls">
		
			<% IF isPublished() %>
				<div class="state">
					<div class="draft"><% lang("draft", "draft") %></div>
					<div class="publish active"><% lang("published", "published") %></div>
				</div>
			<% ELSE %>
				<div class="state">
					<div class="draft active"><% lang("draft", "draft") %></div>
					<div class="publish"><% lang("published", "published") %></div>
				</div>
			<% END %>
		</div>
	<% END %>
</div>
<div style="clear:both;"></div>