<files *.log>
	order allow,deny
	deny from all
</files>

<files *.sql>
	order allow,deny
	deny from all
</files>

<files *.gfs>
	order allow,deny
	deny from all
</files>

<files *.sgfs>
	order allow,deny
	deny from all
</files>
