# System files
.DS_Store
Thumbs.db

# Aptana
.settings/*
.project

# Goma files
_config.php
.index.db
.htaccess

# Goma Core
system/installer/log_*****/*
system/temp/*
system/installer/data/apps/.index.db
system/installer/log/*
system/installer/temp/*

# Goma Application
gomacms/*
!gomacms/application/*
!gomacms/application
!gomacms/templates/*
!gomacms/templates
!gomacms/info.plist
!gomacms/version.php
!gomacms/upgrade/*
!gomacms/upgrade
!gomacms/.htaccess
gomacms/application/.WELCOME_RUN
gomacms/application/WELCOME_RUN.php

# User files
Uploads
Uploads/*
images/resampled
images/resampled/*