_config.php
.DS_Store
.htaccess
.DS_Store
gomacms/*
!gomacms/application/*
!gomacms/application
!gomacms/templates/*
!gomacms/templates
!gomacms/info.plist
!gomacms/version.php
!gomacms/upgrade/*
!gomacms/upgrade
!gomacms/.htaccess
gomacms/application/.WELCOME_RUN
gomacms/application/WELCOME_RUN.php
system/installer/log_*****/*
system/temp/*
system/installer/log/*
system/installer/temp/*
Uploads
Uploads/*