# System files
.DS_Store
Thumbs.db

# Aptana
.settings/*
.project

# Goma files
_config.php
.index-db
.htaccess
web.config

# Goma Core
system/installer/log_*****/*
system/temp/*
system/installer/log/*
system/installer/temp/*

# Goma Application
gomacms/*
!gomacms/.htaccess
!gomacms/web.config
!gomacms/application/*
!gomacms/application
!gomacms/templates/*
!gomacms/templates
!gomacms/info.plist
!gomacms/version.php
!gomacms/upgrade/*
!gomacms/upgrade
gomacms/application/.WELCOME_RUN
gomacms/application/WELCOME_RUN.php

# User files
Uploads
Uploads/*
images/resampled
images/resampled/*

# Developer
tpl/
!tpl/goma_simple/*
!tpl/goma_simple/
!tpl/smoothOrange/*
!tpl/smoothOrange/