<% INCLUDE_CSS "boxes.css" %>

<% IF $cache %>
	<% IF $canWrite AND NOT adminAsUser() %>
		<% GLOAD("sortable") %>
		<% GLOAD("resizable") %>
		<% GLOAD("dropdownDialog") %>
	<% END %>

	$cache
<% ELSE %>

	<% IF $canWrite AND NOT adminAsUser() %>
		<% GLOAD("sortable") %>
		<% GLOAD("resizable") %>
		<% GLOAD("dropdownDialog") %>
		<script type="text/javascript">
			// <![CDATA[
				(function($){
					$(function(){
						gloader.loadAsync("notifications").done(function(){
							var img = new Image;
							img.src = "images/icons/fatcow16/bullet_error@2x.png";

							$("#boxes_new_$pageid .box_new").resizable({
								autoHide: true,
								handles: 'e',
								minWidth: 100,
								grid: [10, 10],
								stop: function(event, ui) {
									$.ajax({
										url: root_path + BASE_SCRIPT + "boxes_new/$pageid/saveBoxWidth/" + ui.element.attr("id").replace("box_new_", ""),
										type: "post",
										data: {width: ui.element.width()},
										dataType: "html"
									});
								},
								resize: function(event, ui){
									ui.element.css('height','auto');
								}
							});

							$("#boxes_new_$pageid").sortable({
								opacity: 0.6,
								handle: '.adminhead',
								helper: 'clone',
								placeholder: 'placeholder',
								revert: true,
								tolerance: 'pointer',
								cancel: "a, img, .actions",
								start: function(event, ui) {
									$(".placeholder").css({'width' : ui.item.width(), 'height': ui.item.height()});
									$(".placeholder").attr("class", ui.item.attr("class") + " placeholder");

								},
								update: function(event, ui) {
									var data  = $(this).sortable("serialize");
									// save order
									$.ajax({
										url: root_path + BASE_SCRIPT + "boxes_new/$pageid/saveBoxOrder",
										data: data,
										type: "post",
										dataType: "html"
									});
								},
								distance: 10,
								items: " > .box_new"
							});
							$("#boxes_new_$pageid > .box_new .adminhead").css("cursor", "move");
						});
					});
				})(jQuery);
			// ]]>
		</script>
	<% END %>

	<div class="boxes_new" id="boxes_new_$pageid">
		<% IF $this %>
			<% CONTROL this() AS $box %>
				<% IF $box.can("write") AND NOT adminAsUser() AND $box.title %>
					<div class="box_new adminview {$box.class_name} box_with_title $box.border_class" style="width: {$box.width};background-color: $box.color;background-image: $box.bg" id="box_new_{$box.id}">
				<% ELSE IF $box.can("write") AND NOT adminAsUser() %>
					<div class="box_new adminview {$box.class_name} $box.border_class" style="width: {$box.width};background-color: $box.color;background-image: $box.bg" id="box_new_{$box.id}">
				<% ELSE IF $box.title %>
					<div class="box_new {$box.class_name} box_with_title $box.border_class" style="width: {$box.width};background-color: $box.color;background-image: $box.bg" id="box_new_{$box.id}">
				<% ELSE %>
					<div class="box_new {$box.class_name} $box.border_class" style="width: {$box.width};background-color: $box.color;background-image: $box.bg" id="box_new_{$box.id}">
				<% END %>
					<% IF $box.can("write") AND NOT adminAsUser() %>
						<div class="adminhead">
							
						</div>
						<div class="actions">
							<% IF NOT $boxlimit OR $this.count() < $boxlimit %>
								<a href="{BASE_SCRIPT}boxes_new/$pageid/add?insertafter={$box.sort}&redirect=$_SERVER_REDIRECT.URL()" title="{$_lang_new_box}" class="dropdownDialog">
									<img src="images/16x16/add.png" alt="{$_lang_new_box}" />
								</a>
							<% END %>
							
							<a href="{BASE_SCRIPT}boxes_new/$pageid/edit/{$box.id}?redirect=$_SERVER_REDIRECT.URL()" title="{$_lang_edit_box}" class="dropdownDialog dropdownDialog-fixed noAutoHide">
								<img src="images/16x16/edit.png" alt="{$_lang_edit_box}" />
							</a>
							
							<a class="dropdownDialog" href="{BASE_SCRIPT}boxes_new/$pageid/delete/{$box.id}?redirect=$_SERVER_REDIRECT.URL()" title="{$_lang_del_box}">
								<img src="images/16x16/del.png" alt="{$_lang_del_box}" />
							</a>
						</div>
					<% END %>
					
					<% IF $box.title %>
						<div class="header">
							<% IF $box.linkURL == "" %>
							<span class="title">$box.title</span>
							<% ELSE %>
								<a href="$box.linkURL" %>
									<span class="title">$box.title</span>
								</a>
							<% END %>
						</div>
					<% END %>
					
					<div class="content">
						$box.content
					</div>
				</div>
			<% ENDCONTROL %>
		<% ELSE %>
			<% IF $canWrite AND NOT adminAsUser()  %>
				<% IF NOT $boxlimit OR $this.count() < $boxlimit %>
					<div class="no_box">
						<a rel="dropdownDialog" href="{BASE_SCRIPT}boxes_new/$pageid/add?insertafter=1">{$_lang_new_box}</a>
					</div>
				<% END %>
			<% END %>
		<% END %>
		<div class="clear"></div>
	</div>
<% END %>
