<!DOCTYPE html>
<html lang="{$_cms_lang}">
	<head>
		<base href="{BASE_URI}" />
		<title><% title() %> {TITLE_SEPERATOR} {$_cms_ptitle}</title>
		<% headerHTML() %>
		
		<% INCLUDE_CSS_MAIN "jqueryui/theme.css" %>
		<% INCLUDE_CSS_MAIN "style.css" %>
		<% INCLUDE_CSS_MAIN "typography.css" %>
		
		<style type="text/css">
			{$own_css}
		</style>
		
		<link rel="apple-touch-icon-precomposed" href="/tpl/{$_cms_tpl}/images/iphone-homescreen.png" /> 
	</head>
	<body>
		<div id="document">
			<% INCLUDE "frontedbar.html" %>
			
			<div id="header">
				<div class="content_wrapper">
					<div id="navi">
						<ul>
							<% CONTROL mainbar(1) %>
								<li class="{$mainbar.LinkClass}">
									<a href="{$mainbar.url}" class="{$mainbar.LinkClass}">
										<span>$mainbar.mainbartitle.text()</span>
									</a>
								</li>
							<% ENDCONTROL %>	
						</ul>
					</div>
				</div>
			</div>
			
			<div id="headline">
				<div class="content_wrapper">
					<div id="search">
						<form method="get" action="search/">
							<input type="text" id="search_field" placeholder="Suchen..." name="q" />
							<input class="submit" type="image" src="tpl/{$_cms_tpl}/images/loope.png" title="Suchen" alt="Suchen" />
						</form>
					</div>
					<div id="logo">
						<a href="./">
							<img src="tpl/{$_cms_tpl}/images/logo_mbg.png" alt="Max Born Gymnasium Germering" />
						</a>
					</div>
					
					<% IF URL == "" %>
						<div id="slider">
							<div class="content_wrapper">
								<div class="text">
									<% CONTROL slider() %>
										<div>
											<h1>$slider.title.text()</h1>
											<p>$slider.text</p>
										</div>
									<% ENDCONTROL %>
								</div>
								<div class="points">
									<% CONTROL slider() %>
										<% IF $slider.position == 0 %>
											<span title="$slider.title.text()" class="active"></span>
										<% ELSE %>
											<span title="$slider.title.text()"></span>
										<% END %>
									<% ENDCONTROL %>
								</div>
								<div class="images">
									<% CONTROL slider() %>
										$slider.image.setHeight(250)
									<% ENDCONTROL %>
								</div>
							</div>
						</div>
					<% END %>
				</div>
			</div>

			
			
			<div id="content">
				<div class="content_wrapper">
					
					$addcontent
					
					<div id="prependedContent">
						<% PrependedContent() %>
					</div>
					
					<garea name="content">
						<h1>404 - Not found!</h1>
					</garea>
					
					<div id="appendedContent">
						<% AppendedContent() %>
					</div>
					
					<div class="clear"></div>
					
				</div>
			</div>
			
			<div id="footer">
				<div class="content_wrapper">
					<div class="links">
						<a href="impressum/">Impressum</a>&nbsp;&middot;&nbsp;<a href="kontakt/">Kontakt</a>
					</div>
					<div class="branding">
						&copy; 2012 - Max Born Gymnasium Germering <br />
						Diese Webseite l&auml;uft mit <a href="http://goma-cms.org" target="_blank">Goma</a>.
					</div>
				</div>
			</div>
		</div>
	</body>
</html>