<!DOCTYPE html>
<html lang="{$_cms_lang}">
	<head>
		<base href="{BASE_URI}" />
		<title><% title() %> {TITLE_SEPERATOR} {$_cms_ptitle}</title>
		<% headerHTML() %>
		
		<% INCLUDE_CSS_MAIN "jqueryui/theme.css" %>
		<% INCLUDE_CSS_MAIN "style.css" %>
		<% INCLUDE_CSS_MAIN "typography.css" %>
		
		<style type="text/css">
			{$own_css}
		</style>
	</head>
	<body>
		<div id="document">
			<% INCLUDE "frontedbar.html" %>
		
			<div id="header">
				<div class="content_wrapper">
					<div class="quickLinks">
						<% IF login() %>
							<a class="user" href="profile/">$loggedInUser.image.setSize(16, 16)  <strong>{$_cms_user}</strong></a> | 
							<a href="#" onclick="$('#loginFormGlobe').submit();return false;">{$_lang_logout}</a>
							<form method="post" id="loginFormGlobe" action="{BASE_SCRIPT}profile/logout">
								<input type="hidden" name="logout" value="1" />
								<input type="hidden" name="redirect" value="{$_SERVER_REQUEST_URI}" />
								<noscript>
									<input class="logoutButton" type="submit" class="button" value="{$_lang_logout}" style="margin: 2px 0;" />
								</noscript>
							</form>
						<% ELSE %>
							<a href="profile/login/?redirect={$_SERVER_REQUEST_URI.URL()}">{$_lang_login}</a>
							|
							<a href="profile/register">{$_lang_register}</a>
						<% END %>
						
					</div>
					<div class="clear"></div>
					<div id="navi">
						<ul>
							<% CONTROL mainbar(1) %>
								<li>
									<a href="{$mainbar.url}" class="{$mainbar.LinkClass}">$mainbar.mainbartitle.text()</a>
								</li>
							<% ENDCONTROL %>	
						</ul>
					</div>
					<h3><a href="./">{$_cms_title}</a></h3>
				</div>
				
			</div>
			
			
			<div id="content">
				<div class="content_wrapper">
					
					
					<div id="breadcrumb">
						<form id="search" method="get" action="search/">
							<input class="input" type="search" name="q" placeholder="<% lang('search') %>" />
							<input type="submit" class="button" value="{$_lang_okay}" />
						</form>
						<div>
							{$_lang_you_are_here}: <a href="./">{$_lang_homepage} </a>
							<% CONTROL breadcrumbs() AS $breadcrumb %>
								{BREADCRUMB_SEPERATOR} <a href="{$breadcrumb.link}">{$breadcrumb.title}</a>
							<% ENDCONTROL %>
						</div>
					</div>
					
					
					$addcontent
					
					<div id="prependedContent">
						<% echo PrependedContent() %>
					</div>
					
					$content
					
					<div id="appendedContent">
						<% echo AppendedContent() %>
					</div>
					
					<div class="clear"></div>
					
				</div>
			</div>
			
			<div id="footer">
				<div class="content_wrapper">
					<div class="branding">
						Powered by <a target="_blank" href="http://goma-cms.org">Goma</a>
					</div>
					<div class="quickLinks">
						<a href="impressum/">{$_lang_imprint}</a>
						<a href="kontakt/">{$_lang_contact}</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>