<h2 style="padding-bottom: .25em;text-align: center;font-weight: 200;"><% lang("user_needs_activation") %></h2>
<p style="text-align: center;margin: 0;"><strong>$nickname</strong></p>
<p style="text-align: center;margin: 0;">$email</p>
<p style="text-align: center;">
	<a href="$activateLink" style="display: inline-block;margin: auto;background: #4699d2; padding: .75em 1em;-webkit-border-radius: .5em;border-radius: .5em;color: #fff;text-decoration:none;margin-top: .75em;"><% lang("user_activate") %></a>
</p>
