<p><% lang("hello", "Hello") %> $title</p>

<p><% lang("lp_text") %> </p>
<p>
    <a target="_blank" href="{BASE_URI}{BASE_SCRIPT}profile/lost_password{URLEND}?code=$key">{BASE_URI}{BASE_SCRIPT}profile/lost_password{URLEND}?code=$key</a>
</p>
<p>{$_lang_lp_code}: <strong>$key</strong></p>
<p><% lang("lp_deny") %></p>
<p>
    <a target="_blank" href="{BASE_URI}{BASE_SCRIPT}profile/lost_password{URLEND}?code=$key&amp;deny=1">{BASE_URI}{BASE_SCRIPT}profile/lost_password{URLEND}?code=$key&deny=1</a>
</p>
<p><% lang("lp_mfg", "Kind Regards") %></p>