<% INCLUDE_CSS "comments.css" %>
<% IF $this %>
	<h4><% lang("co_comments", "comments") %></h4>
<% END %>
<div class="comments">
	<% CONTROL this() %>
		
		<div class="comment record" id="comment_{$this.id}" itemscope itemtype="http://schema.org/Comment">		
				<% IF $this.writeaccess %>
				
					<div class="menu">
						<a href="$page.url/pagecomments/record/{$this.id}/edit{URLEND}?redirect={$_SERVER_REQUEST_URI.URL()}" title="{$_lang_edit}"><img src="images/icons/fatcow-icons/16x16/edit.png" alt="{$_lang_edit}" /></a>
						<a href="$page.url/pagecomments/record/{$this.id}/delete{URLEND}?redirect={$_SERVER_REQUEST_URI.URL()}" rel="dropdownDialog" title="{$_lang_delete}"><img src="images/icons/fatcow-icons/16x16/delete.png" alt="{$_lang_delete}" /></a>
					</div>
					
				<% END %>
				
				<div class="from">
					<a href="{URL}{URLEND}#comment_{$this.id}">
						{$_lang_co_of} 
						<span itemprop="author" rel="author">$this.name.text()</span> 
						{$_lang_co_on} 
						<span itemprop="dateCreated">$this.timestamp.date()</span>
					</a>
				</div>
				
				<div class="text" itemprop="text">$this.text.bbcode()</div>	
				<% IF $this.writeaccess %>
					<div class="clear"></div>
				<% END %>
		</div>
	<% ENDCONTROL %>
	<h3><% lang("co_add_comment", "Add a new comment...") %></h3>
	$form
</div>