<% lang("contact_introduction") %>
<table width="100%">
    <tr>
        <td>
            {$_lang_name}
        </td>
        <td>
           $name
        </td>
    </tr>
    <tr>
        <td>
            {$_lang_subject}
        </td>
        <td>
            $subject
        </td>
    </tr>
    <tr>
        <td>
            {$_lang_email}
        </td>
        <td>
            $email
        </td>
    </tr>
    <tr>
        <td>
            {$_lang_text}
        </td>
        <td>
            $text
        </td>
    </tr>
</table>
<hr />
<% lang("contact_greetings", "Kind Regards") %>
Goma Auto-Messenger