.mailsettings-wrapper {

	display: none;
	.fixed {
		position: fixed;
		top: 3.44em;
		left: 0;
		right: 0;
		height: 6em;
		padding: .75em 1em;
		border-bottom: 1px solid #ddd;
		background: #eee;
		z-index: 600;
		opacity: .95;

		h3 {
			margin: 0;
			margin-bottom: .5em;
		}

	}	

	.spacer {
		height: 7em;
	}

	.submit {
		padding-top: .5em;
	}

	.loading, .response, .submit {
		display: none;
	}

	.response {
		margin-top: -.375em;
		margin-bottom: -.75em;
		border: 1px solid #ddd;
		border-left: 0;
		border-right: 0;
		height: 3em;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
}
.mailsettings-wrapper.loading {
	display: block;

	.loading, .submit {
		display: block;
	}
}
.mailsettings-wrapper.hasResponse {
	display: block;

	.response, .submit {
		display: block;
	}
}