<!DOCTYPE html>
<html lang="{$_cms_lang}">
	<head>
		<base href="{BASE_URI}" />
		<title>{$_cms_ptitle} <% IF $title %> - $title <% ELSE %> - Administration <% END %></title>
		
		<meta name="robots" content="noindex,nofollow" />
		<meta name="viewport" content="width=1280" />
		<!-- some css -->
		<% INCLUDE_CSS "standard.css" %>
		<% INCLUDE_CSS "box.css" %>
		<% INCLUDE_CSS "js/treeview/jquery.treeview.css" %>
		<% INCLUDE_CSS "ui/ui-lightness/ui.css" %>
		
		<!-- some js -->
		<% INCLUDE_JS_MAIN "jquery" %>
		<% INCLUDE_JS_MAIN "js/loader.js" %>
		
		<% INCLUDE_JS "js/treeview/jquery.treeview.min.js"%>  
		<% INCLUDE_JS "admin.js" %>
		<script type="text/javascript">
			// <![CDATA[
				var x = new Image();
				x.src = '{$_cms_root_path}images/16x16/loading.gif';
				var y = new Image();
				y.src = '{$_cms_root_path}images/loading.gif';
				$(function(){					
					setTimeout(function(){			
						$("#body").css('display','block');
						$("#l").css('display','none');
					}, 100);
				});
			// ]]>
		</script>
		{$header}

	</head>
	<body>
		<div id="wrapper">
			
				<div id="leftbar">
					<div id="leftbar_inner">
						<img src="adm/tpl/{$_cms_atpl}/images/logo.png" alt="logo" />
						<div class="container">
							<span class="pagetitle">$_cms_ptitle</span>
						</div>
						<div class="container">
							<% lang("really welcome", "Welcome") %>, <strong>{$_cms_user}</strong>
							<div>[ <a href="profile/edit{URLEND}">{$_lang_edit_profile}</a> | <a href="pm/"><% lang("pm_inbox", "Inbox") %></a> ] </div><div> [ <a href="{ROOT_PATH}profile/logout/?redirect={$_SERVER_REQUEST_URI}"><% lang("logout", "logout") %></a> ]</div>
						</div>
						<div class="container">
							<span class="weblink"><a href="{ROOT_PATH}"><% lang("view_website", "Browse Website") %></a></span>
						</div>
						<div id="navi">
							<ul>
								<li>
									<% IF URL == "admin" %>
										<a href="{BASE_SCRIPT}admin/" class="active">
											<span><% lang("dashboard", "Dashboard") %></span>
										</a>
									<% ELSE %>
										<a href="{BASE_SCRIPT}admin/">
											<span><% lang("dashboard", "Dashboard") %></span>
										</a>
									<% END %>
									
								</li>
								<li>
									<% CONTROL this() %>
										<% IF $this.active %>
											<a class="active"  title="{$this.text}" href="{BASE_SCRIPT}admin/{$this.uname}{URLEND}">
												<span>$this.text</span>
											</a>
										<% ELSE %>
											<a title="{$this.text}" href="{BASE_SCRIPT}admin/{$this.uname}{URLEND}">
												<span>$this.text</span>
											</a>
										<% END %>
									<% ENDCONTROL %>
		
								</li>
							</ul>
						</div>
						<div id="footer">
							&copy; Copyright 2011 Goma Team
						</div>
					</div>
				</div>
				<garea name="content" reload="1">
					<div id="content">
						<% IF $content %>
							<div class="header">
								<h1>$title</h1>
							</div>	
							<div class="content_inner">
								$addcontent
								$content
							</div>
						<% ELSE %>
							<div class="header">
								<h1><% lang("dashboard", "Dashboard") %></h1>
							</div>	
							<div class="content_inner">
								<div id="addcontent" style="width: 900px;max-height: 150px;overflow: auto;">
									$addcontent
								</div>
								<div id="statistics">
									<div class="title">
										<% lang("visitors", "Visitors") %>
									</div>
									<div class="controls">
										<span style="color: #24acb8;">&middot;</span> <a style="color: #24acb8;" href="{BASE_SCRIPT}{URL}{URLEND}"><% lang("visitors_by_day", "By Day") %></a> <span style="color: #da097a;">&middot; </span> <a style="color: #da097a;" href="{BASE_SCRIPT}{URL}{URLEND}?month=1"><% lang("visitors_by_month", "By Month") %></a>
									</div>
									<% IF $_GET_month %>
										<% CONTROL statistics() %>
											<div class="stat month">
												<div class="data">
													<div style="height:<% echo $statistics.percent*2 %>px">
													</div>
												</div>
												<div>$statistics.count</div>
												<div>$statistics.timestamp.date("F")</div>
											</div>
										<% ENDCONTROL %>
									<% ELSE %>
										<% CONTROL statistics(false) %>
											<div class="stat">
												<div class="data">
													<div style="height:<% echo $statistics.percent*2 %>px">
													</div>
												</div>
												<div>$statistics.count</div>
												<div>$statistics.timestamp.date("j M")</div>
											</div>
										<% ENDCONTROL %>
									<% END %>
									<div class="clear"></div>
								</div>
								<script type="text/javascript">
									var update_url = "http://download.goma-cms.org/api/v1/gomadownloads.json?version={GOMA_VERSION}-{BUILD_VERSION}&add_fields=UpdateFile,UpdateVersion";
									$(function(){
										$("#loading").css("display", "block");
										$.ajax({
											dataType: "jsonp",
											url: update_url,
											success: function(data)
											{
												if(data.data[0] == null)
												{
													$("#update_response").html('<span style="color: #00aa00;">{$_lang_version_current}</span>');
												} else
												{
														if(data.data[0].UpdateFile === false)
														{
															$("#update_response").html('<span style="color: #00aa00;">{$_lang_version_current}</span>');
														} else
														{
															$("#update_response").html('<div style="color: #cc0000;">{$_lang_version_available}</div> <a href="http://download.goma-cms.org/download_goma/update/{GOMA_VERSION}-{BUILD_VERSION}">{$_lang_upgrade_to_next}</a>');
														}
												}
												$("#loading").css("display", "none");
											}
										});
									});
								</script>
								<div id="home-container">
									
									<div id="left">
										<div id="version" class="content_container">
											<h2>Goma {$_lang_version}</h2>
											<div>
												<div id="loading" style="display: none;">Checking updates ...</div>
												<div>
													<div id="update_response"></div>
												</div>
											</div>
										</div>
										<div id="cache" class="content_container">
											<h2>{$_lang_del_cache}</h2>
											<div>
												<a href="admin/?flush=1" class="button">{$_lang_del_cache}</a>
											</div>
										</div>
									</div>
									<div id="right">
									
										<div id="database" class="content_container">
											<h2>{$_lang_db_db}</h2>
											<div>
												<p class="info">{$_lang_db_update_info}</p>
												<a href="dev" rel="ajaxfy">{$_lang_db_update}</a>
											</div>
										</div>
									</div>
									
									<div class="clear"></div>
									
									
								</div>
							</div>
						<% END %>
					
				
					</div>
				</garea>
			
		</div>
	</body>
</html>