<% gload("accordion") %>
<script type="text/javascript">
	// <![CDATA[
			$(function() {
				$("#accordion").accordion({
					autoHeight: false
				});
			});
			
			var update_url = "http://download.goma-cms.org/api/v1/gomadownloads.json?version={GOMA_VERSION}-{BUILD_VERSION}&add_fields=UpdateFile,UpdateVersion";
			
			$(function(){
				$("#loading").css("display", "block");
				$.ajax({
					dataType: "jsonp",
					url: update_url,
					success: function(data)
					{
						if(data.data[0] == null)
						{
							$("#update_response").html('<span style="color: #00aa00;">{$_lang_version_current}</span>');
						} else
						{
								if(data.data[0].UpdateFile === false)
								{
									$("#update_response").html('<span style="color: #00aa00;">{$_lang_version_current}</span>');
								} else
								{
									$("#update_response").html('<div style="color: #cc0000;">{$_lang_version_available}</div> <a href="http://download.goma-cms.org/download_goma/update/{GOMA_VERSION}-{BUILD_VERSION}">{$_lang_upgrade_to_next}</a>');
								}
						}
						$("#loading").css("display", "none");
					}
				});
			});

	// ]]>
</script>
<div id="accordion" style="width: 100%;">
	<h5><a  href="javascript: void(0);">{$_lang_version}</a></h5> 
	<div>
		{$_lang_version}: {GOMA_VERSION} - {BUILD_VERSION}
		<div id="loading" style="display: none;">Checking updates ...</div>
		<div>
			<div id="update_response"></div>
		</div>
	</div>
	<h5><a href="javascript: void(0);">{$_lang_db_db}</a></h5>
	<div>
	<div class="ui-state-highlight ui-corner-all" style="padding:5px;">
		<span class="ui-icon ui-icon-info" style="float: left; margin-right: 0.3em;"  style="padding:0px;"></span>
		{$_lang_db_update_info}

	</div>
		<a href="dev" rel="ajaxfy">{$_lang_db_update}</a>
	</div>
	<h5><a href="javascript: void(0);">{$_lang_del_cache}</a></h5>
	<div>
		<form style="width: 100%;" method="get" action="{BASE_SCRIPT}admin/index.html">
			<div class="ui-state-highlight ui-corner-all" style="padding:5px;">
				<span class="ui-icon ui-icon-info" style="float: left; margin-right: 0.3em;"  style="padding:0px;"></span>
				{$_lang_cache_del_info}

			</div>
			<input type="hidden" name="flush" value="1" />
			<input type="submit" class="button" value="{$_lang_del_cache}" class="button" />
		</form>
	</div>
	<h5><a href="javascript: void(0);">{$_lang_st_stats}</a></h5>
	<div>
		<% stats("1|1|1|1|1|1") %>
	</div>
</div>