<h1><% lang("search.search", "Search") %></h1>
<% INCLUDE_CSS "search.css" %>
<div class="searchbox" itemscope itemtype="http://schema.org/ItemList">
	<meta itemprop="mainContentOfPage" content="true"/>
	
	<form method="get" action="">
		<input type="text" name="q" itemprop="name" value="{$word}" /> <input type="submit" value="<% lang("search.search", "Search") %>" class="button" />
	</form>
	
	<% IF $word %>
		<div class="result">
			<% CONTROL this() %>
				<div class="item">
					<div class="title"><a href="{$this.url}" itemprop="itemListElement">{$this.title}</a></div>
					<div class="url" itemprop="significantLink">{BASE_URI}{$this.path}{URLEND}</div>
				</div>
			<% ENDCONTROL %>
		</div>
		<div class="pages">
			<% lang("page", "Page") %>
			<% CONTROL pages() %>
				<% IF $pages.black %>
					$pages.page
				<% ELSE %>
					<a href="{URL}{URLEND}?q={$word.url()}&pa=$pages.page">$pages.page</a>
				<% ENDIF %>
			<% ENDCONTROL %>
		</div>
	<% ELSE %>
		<% lang("search.no_word", "Please insert a word") %>
	<% END %>
</div>