
<p><% lang("install.welcome") %></p>
<ul id="installitems" class="list-view">
	<li class="item install">
		<a href="install/install/">
			<img src="images/icons/fatcow-icons/32x32/world_add.png" alt="<% lang('install.install_goma', 'Install Goma') %>" />
			<% lang("install.install_goma", "Install Goma") %>
		</a>
	</li>
	<li class="item restore last">
		<a href="install/restore/">
			<img src="images/icons/fatcow-icons/32x32/site_backup_and_restore.png" alt="<% lang('install.restore_app', 'Restore a Page') %>" />
			<% lang("install.restore_app", "Restore a Page") %>
		</a>
	</li>
	<!--<div class="item browse">
	<a href="install/browse/">
	<img src="images/icons/fatcow-icons/32x32/plugin.png" alt="<% lang('install.browse_apps', 'Browse Goma-Apps') %>" />
	<% lang("install.browse_apps", "Browse Goma-Apps") %>
	</a>
	</div>-->
</ul>