<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de">
	<head>
		<base href="{BASE_URI}" />
		<title><% lang("install.install_goma", "Install Goma") %></title>
		<meta charset="UTF-8" />
		<% INCLUDE_CSS_MAIN "admin/style-front.less" %>
		<% INCLUDE_CSS_MAIN "install.css" %>
		
		<% IF $firstrun %>
			<script type="text/javascript">
				/*$(function(){
					$("#wrapper_logout").fadeTo(0,0);
					$("body").append('<div id="introAnimation"><img src="{BASE_URI}system/templates/admin/images/logo.png" alt="Logo" /><p>Open Source CMS/Framework</p></div>');
					$("#introAnimation img").css({display: "block",position: "absolute", top: "50%", left: "50%", "margin-left": "-96px", "margin-top": "-30px"});
					$("#introAnimation img").css({top: $("#introAnimation img").offset().top, left: $("#introAnimation img").offset().left, "margin-left": "0", "margin-top": 0});
					$("#introAnimation p").fadeTo(0,0);
					
					// text-position
					setTimeout(function(){
						var textLeftPos = $("#introAnimation img").offset().left + (192 / 2) - $("#introAnimation p").outerWidth() / 2;
						$("#introAnimation p").css({position: "absolute", top: $("#introAnimation img").offset().top + 60 + 5, left: textLeftPos});
						$("#introAnimation p").fadeTo(500, 1);
					}, 100);
					
					
					// animate the logo ;)
					var logoTop = $("#logo").offset().top + (($("#logo").outerHeight() - $("#logo").height()) / 2);
					var logoLeft = $("#logo").offset().left + (($("#logo").outerWidth() - $("#logo").width()) / 2);
					setTimeout(function(){
						$("#introAnimation p").fadeTo(400, 0);
						$("#introAnimation img").animate({top: logoTop, left: logoLeft}, 750, function(){
							$("#wrapper_logout").fadeTo(500, 1, function(){
								$("#introAnimation img").remove();
							});
						});
					}, 2000);
				});*/
			</script>
		<% END %>
		
		<% HeaderHTML() %>
		
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	</head>
	<body>
		<div id="document">
			<div class="logo_wrapper">
				<div class="content_wrapper">
					<div class="beside_logo">
						<a href="{BASE_SCRIPT}admin/switchlang/" title="{$_lang_switchlang}"><img src="images/icons/fatcow-icons/32x32/locate.png" alt="{$_lang_switchlang}" /></a>
					</div>
					<a href="{BASE_SCRIPT}admin{URLEND}"><img id="logo" src="system/templates/admin/images/logo.png" data-retina="system/templates/admin/images/logo@2x.png" alt="logo" /></a>
				</div>
			</div>
			
			<div id="wrapper" class="content_wrapper">

				<!--<div class="header">
					<div class="content_wrapper">
						<a href="{BASE_URI}{BASE_SCRIPT}"><h1>Goma</h1></a>
					</div>
				</div>-->
				<div class="content">
					<div class="content_wrapper">
						<% addContent() %>
						$content
					</div>
				</div>
			</div>
			
			<div class="footer-spacer"></div>
			<div class="footer">
				<div class="content_wrapper">
					<div class="branding" style="text-align: center;float: none;">Powered by <a target="_blank" href="http://goma-cms.org">Goma</a></div>
				</div>
			</div>
		</div>
	</body>
</html>