<script type="text/javascript">
	var welcome = [
		"Herzlich Willkommen",
		"welcome",
		"benvenuto",
		"welkom",
		"velkommen",
		"bienvenue",
		"w&euml;llkom",
		"f&agrave;ilte",
		"ben&egrave;nnidu",
		"tonga soa",
		"haere mai",
		"dobredojde",
		"Sean bienvenidos"
	];
	
	$(function(){
		
		location.hash = "#welcome_animation";
	
		var i = -1;
		var update = function() {
			if(welcome.length <= i) {
				i = 0;
			} else {
				i++;
			}
			
			$("#welcome_animation").fadeTo(300, 0, function(){
				$("#welcome_animation").html(welcome[i]);
				$("#welcome_animation").fadeTo(300, 1);
			});
		};
		
		update();
		setInterval(update, 2000);
		
		var show = function() {
			$("#document .logo_wrapper, #document .header, #langSelect, #document .footer").fadeTo(500, 1);
			$("#info").fadeTo(200, 0);
		};
		

		$("#document .logo_wrapper, #document .header, #langSelect, #info, #document .footer").fadeTo(0, 0);
		
		var s = false;
		$("body").on("mousemove touchstart", function(){
			s = true;
		});
		setTimeout(function(){
			$("#info").fadeTo(200, 1);
			$("body").on("mousemove touchstart", show);
			!s || show();
		}, 2000);
	});
</script>
<div id="welcome_animation">
	
</div>
<div id="info">
	Move mouse to start
</div>
<div id="langSelect">
	<h3>Please select your language </h3>
	<div class="selectBox">
		<ul>
			<% CONTROL languages() AS $lang %>
				<li>
					<a href="<% echo addParamToURL("", "setlang", $lang.code) %>">
						<img src="$lang.icon" alt="$lang.code" />
						<span>$lang.title</span>
					</a>
				</li>
			<% ENDCONTROL %>
		</ul>
		<div class="clear"></div>
	</div>
</div>
