<a href="./" class="">&laquo; {$_lang_back}</a>
<div id="apps">
	<% IF $this %>
		<% CONTROL this() %>
			<% IF $this.first %>
				<div class="app first">
			<% ELSEIF NOT $this.white %>
				<div class="app grey">
			<% ELSE %>
				<div class="app">
			<% END %>
				<div class="icon">
					<% IF $this.icon %>
						<img src="{$this.icon}" alt="" width="64" />
					<% END %>
				</div>
				<div class="button_right">
					<a href="{BASE_SCRIPT}install/installApp/$this.app.url(){URLEND}" class="button"><% lang("install.install") %></a>
				</div>
				<div class="info">
					<h1>$this.title</h1>
					<p>$this.appinfo.autor</p>
					<p>{$_lang_version} $this.version</p>
				</div>
				<div class="clear"></div>

			</div>
		<% ENDCONTROL %>
	<% ELSE %>
		<div class="no_app">
			<% lang("install.no_app_found") %>
		</div>
	<% END %>
</div>