<div id="login_page">
	<script type="text/javascript">
		(function($){
			$(function(){
				setTimeout(function(){
					if($("#login_name").val() == "" || $("#login_name").val() == $("#login_name").attr("placeholder")) {
						$("#login_name").focus();
					} else {
						$("#login_pwd").focus();
					}
				}, 100);
			});
		})(jQuery);
	</script>
	<div class="left">
		<h3>{$_lang_login}</h3>
		<form class="login_form" action="{BASE_SCRIPT}profile/login/?redirect={$_SERVER_REDIRECT.url()}" method="post">
			<label for="login_name">{$_lang_email_or_username}</label>
			<input type="text" name="user" title="{$_lang_email_or_username}" id="login_name" value="{$_POST_user.text()}" />
			<label for="login_pwd">{$_lang_password}</label>
			<input type="password" id="login_pwd" title="{$_lang_password}" name="pwd" />
			<div class="_actions">
				<div>
					<input class="button submit" type="submit" value="<% lang('perform_login', 'Login') %>"  />
					<a href="profile/register{URLEND}">{$_lang_register}</a>
				</div>
				<a href="profile/lost_password{URLEND}">{$_lang_lost_password}</a>
			</div>
		</form>
	</div>
	<div class="right">
		<div id="langSelect">
			<div class="back">
				<a href="{$_SERVER_REDIRECT_PARENT}">{$_lang_back}</a>
			</div>
			<h3>{$_lang_select_lang}</h3>
			<div class="selectBox">
				<ul>
					<% CONTROL languages() AS $lang %>
						<% IF $lang.code = $_cms_lang %>
							<li class="active">
						<% ELSE %>
							<li>
						<% END %>
							<a href="<% echo addParamToURL($_SERVER_REQUEST_URI, "setlang", $lang.code) %>">
								<img src="$lang.icon" alt="<% echo $currentLang.code %>" />
								<span>$lang.title</span>
							</a>
						</li>
					<% ENDCONTROL %>
				</ul>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>