<% INCLUDE_CSS("form.less") %>

<h1><% lang("lost_password", "lost password") %></h1>

<% IF $codeWrong %>
<p class="error"><% lang("lp_wrong_code", "Unfortunately the provided code was wrong.") %></p>
<% ELSE %>
<p class="success"><% lang("lp_mail_sent", "The E-mail was sent!") %></p>
<% END %>
<form method="get" action="">
    <div class="form_field">
        <label for="codefield"><% lang("lp_code") %></label>
        <input class="input" id="codefield" name="code" type="text" />
    </div>
    <div class="actions">
        <input type="submit" class="button" name="submitinvisible" style="visibility: hidden;" />
        <input type="submit" class="button" value="{$_lang_cancel}" name="deny" />
        <input type="submit" class="button" value="{$_lang_ok}" name="submit" />
    </div>
</form>