<% IF $id %>
<div class="success">$info</div>
<% ELSE %>
<div class="error">$info</div>
<% END %>

<% IF $codeNeeded %>
    <% INCLUDE_CSS "form.less" %>
    <form method="get" action="./profile/register/">
        <div class="form_field">
            <% IF $email %>
                <input type="hidden" name="email" value="$email" %>
            <% END %>
            <label for="codefield"><% lang("lp_code") %></label>
            <input class="input" id="codefield" name="activate" type="text" />
        </div>
        <div class="actions">
            <a class="button" href="./profile/resendActivation/?email=$email.url()">{$_lang_register_resend_title}</a>
            <input type="submit" class="button" value="{$_lang_ok}" name="submit" />
        </div>
    </form>
<% END %>