<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de">
	<head>
		<base href="{BASE_URI}" />
		<title>Goma CMS</title>
		<% INCLUDE_CSS_MAIN "admin/style-front.less" %>
		<% INCLUDE_CSS "welcome.css" %>
		<meta charset="utf-8" />
	</head>
	<body>
		<div id="document">
			<div class="logo_wrapper">
				<div class="content_wrapper">
					<div class="beside_logo">
						
					</div>
					<img id="logo" src="system/templates/admin/images/logo.png" data-retina="system/templates/admin/images/logo@2x.png" alt="logo" />					</div>
			</div>			
			<div id="wrapper" class="content_wrapper">
				<div class="header">
					<h1><% lang("create_user") %></h1>
				</div>
				<div class="content">
					$form
				</div>
				<div class="footer-spacer"></div>
				<div class="footer">
					<div class="content_wrapper">
						<div class="branding" style="text-align: center;float: none;">Powered by <a target="_blank" href="http://goma-cms.org">Goma</a></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>