<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de">
	<head>
		<base href="{BASE_URI}" />
		<title>Goma CMS</title>
		<% INCLUDE_CSS_MAIN "admin/style.css" %>
		<% INCLUDE_CSS "welcome.css" %>
		<meta charset="utf-8" />
	</head>
	<body>
		<div id="wrapper_logout">
			
			<div class="wrapper_inner">
				<div class="logo_wrapper">
					<a target="_blank" href="http://goma-cms.org" target="_blank"><img id="logo" src="{$BASE_URI}system/templates/admin/images/logo.png" alt="logo" /></a>
				</div>
				<div class="header">
					<h1><% lang("before_you_begin") %>...</h1>
				</div>
				<div class="content">
					<p class="success">{$_lang_install_success}</p>
					<a class="button" href="./step2/">{$_lang_next_step}</a>
				</div>
			</div>
		</div>
	</body>
</html>