<% IF admin() %>
	<% IF NOT $_GET_preview %>
		<% INCLUDE_CSS "../css/frontedbar.css" %>
		<div id="frontedbar_spacer"></div>
		<div id="frontedbar">
			<div id="frontedbar_inner">
				<div>
					<a href="{BASE_SCRIPT}admin/" title="{$_lang_administration}"><% lang("manage_website", "manage website") %></a>
				</div>
				<% IF $frontedbar %>
					<% CONTROL frontedbar() %>
						<div>
							<% IF $frontedbar.attr_title %>
								<a href="{$frontedbar.url}" class="{$frontedbar.class}" title="{$frontedbar.attr_title}">{$frontedbar.title}</a>
							<% ELSE %>
								<a href="{$frontedbar.url}" class="{$frontedbar.class}" title="$frontedbar.title">{$frontedbar.title}</a>
							<% END %>
						</div>
					<% ENDCONTROL %>
				<% END %>
				
				<div class="endclear"></div>
			</div>
		</div>
		<div style="clear: both"></div>
	<% END %>
<% END %>