<h1>{$_lang_mem_members}</h1>
$prependedContent
<div class="memberlist">
	<% member.activatePagination($_GET_pa); %>
	<% CONTROL member() %>
		<div class="member">
			<div style="float: left;">
				<% IF $member.avatar %>
					<a href="{URL}/{$member.id}{URLEND}">$member.avatar.setSize(50,50)</a>
				<% ELSE %>
					<a href="{URL}/{$member.id}{URLEND}"><img height="50" width="50" src="images/no_avatar.png" alt="no avatar" /></a>
				<% END %>
					
			</div>
			<div class="data">
				<a href="{URL}/{$member.id}{URLEND}">$member.nickname.text()</a>
			</div>
			<div class="clear"></div>
		</div>
	<% ENDCONTROL %>
	<div class="pages">
		<% lang("page", "Page") %>
		<% CONTROL member.pages() %>
			<% IF $pages.black %>
				$pages.page
			<% ELSE %>
				<a href="{URL}{URLEND}?pa=$pages.page">$pages.page</a>
			<% ENDIF %>
		<% ENDCONTROL %>
	</div>
</div>
$appendedContent