<!DOCTYPE html>
<html lang="de">
	<head>
		<base href="./" />
		<title>500 - Internal Server Error</title>
		<link rel="stylesheet" href="http://goma-cms.org/system/templates/css/default.css" />
		<link rel="stylesheet" href="http://goma-cms.org/system/templates/css/goma_default.css" />
		<link rel="stylesheet" href="http://goma-cms.org/system/templates/admin/style.css" />
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	</head>
	<body id="wrapper_logout">
		<!--<div id="wrapper_logout">-->
			
			<div class="wrapper_inner">
				<a href="http://goma-cms.org" target="_blank"><img id="logo" src="http://goma-cms.org/system/templates/admin/images/logo.png" alt="logo" /></a>
				<div class="header">
					<h1>Goma</h1>
				</div>
				<div class="content">
					<h3>500 - Internal Server Error</h3>
					<p>A critical Error occured. Please try again later.</p>
				</div>
			</div>
		<!--</div>-->
	</body>
</html>