<!DOCTYPE html>
<html lang="de">
	<head>
		<base href="{BASE_URI}" />
		<title>503 -  Temporary Unavailable</title>
		<link rel="stylesheet" href="system/templates/css/default.css" />
		<link rel="stylesheet" href="system/templates/css/goma_default.css" />
		<link rel="stylesheet" href="system/templates/admin/style.css" />
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<script type="text/javascript">
			// <![CDATA[
				setTimeout(function(){
					location.reload();
				}, 6000);
			// ]]>
		</script>
	</head>
	<body id="wrapper_logout">
		<!--<div id="wrapper_logout">-->
			
			<div class="wrapper_inner">
				<a href="http://goma-cms.org" target="_blank"><img id="logo" src="system/templates/admin/images/logo.png" alt="logo" /></a>
				<div class="header">
					<h1>Goma Framework</h1>
				</div>
				<div class="content">
					<h3>503 - Temporary Unavailable</h3>
					<p>This Site is temporarily not available. Please <a href="">try again</a>.</p>
				</div>
			</div>
		<!--</div>-->
	</body>
</html>