<h1><% lang("distro_build", "build a version") %></h1>
<table class="versionTable" width="100%">
	<% CONTROL this() %>
		<% IF NOT $this.white %>
			<tr class="grey">
		<% ELSE %>
			<tr>
		<% END %>
			<td class="icon">
				<% IF $this.icon %>
					<img width="40" height="40" src="images/resampled/40/40/$this.icon" alt="" />
				<% END %>
			</td>
			<td class="name">
				$this.title
			</td>
			<td class="version">
				$this.version
			</td>
			<td>
				<a class="button" href="{BASE_SCRIPT}dev/buildDistro/{$this.type}/{$this.name}"><% lang("distro_build", "build a version") %></a>
			</td>
		</tr>
	<% ENDCONTROL %>
</table>