<!DOCTYPE html>
<html lang="{$_cms_lang}">
	<head>
		<base href="{BASE_URI}" />
		<title>$title</title>
		<% INCLUDE_CSS_MAIN "admin/style-front.less" %>
		
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	</head>
	<body>
		<div id="document">
			<div class="logo_wrapper">
				<div class="content_wrapper">
					<div class="beside_logo">
						<a href="{BASE_SCRIPT}admin/switchlang/" title="{$_lang_switchlang}"><img src="images/icons/fatcow-icons/32x32/locate.png" alt="{$_lang_switchlang}" /></a>
					</div>
					<a href="{BASE_SCRIPT}admin{URLEND}"><img id="logo" src="system/templates/admin/images/logo.png" data-retina="system/templates/admin/images/logo@2x.png" alt="logo" /></a>
				</div>
			</div>
			
			<div id="wrapper" class="content_wrapper">
			
				<div class="header">
					<div class="content_wrapper">
						<h1>$_cms_ptitle</h1>
					</div>
				</div>
				<div class="content">
					<div class="content_wrapper">
						<div style="float: right;"><a href="{BASE_URI}{BASE_SCRIPT}admin/">{$_lang_administration}</a></div>
						$content
						<div class="clear"></div>
					</div>
				</div>
			</div>
			
			<div class="footer-spacer"></div>
			<div class="footer">
				<div class="content_wrapper">
					<div class="branding" style="text-align: center;float: none;">Powered by <a href="http://goma-cms.org">Goma</a></div>
				</div>
			</div>

		</div>
	</body>
</html>