<!DOCTYPE html>
<html lang="de">
	<head>
		<title>Disk quota exceeded</title>
		<link rel="stylesheet" href="system/templates/css/default.css" />
		<link rel="stylesheet" href="system/templates/css/goma_default.css" />
		<link rel="stylesheet" href="system/templates/admin/style.css" />
		<meta charset="UTF-8" />
	</head>
	<body>
		<div id="wrapper_logout">
			
			<div class="wrapper_inner">
				<a target="_blank" href="http://goma-cms.org" target="_blank"><img id="logo" src="system/templates/admin/images/logo.png" alt="logo" /></a>
				<div class="header">
					<a href=""><h1>Goma</h1></a>
				</div>
				<div class="content">
					<h3>Die Festplatte des Webservers ist voll</h3>
					<p>Goma kann nur ausgeführt werden, wenn <strong>mindestens 20MB</strong> freier Speicherplatz zur Verfügung stehen. Bitte löschen Sie Dateien, damit so viel Platz zur Verfügung steht.</p>
					
					<h3>Your disk is full</h3>
					<p>Goma can't run if there is not enough free space to store cache-files or uploads. There must be <strong>at least 20MB</strong> of free space! You need to delete files to run Goma!</p>
				</div>
			</div>
		</div>
	</body>
</html>