<!DOCTYPE html>
<html lang="de">
	<head>
		<title>Disk quota exceeded</title>
		<link rel="stylesheet" href="//goma-cms.org/less.php?file=system/templates/css/default.css" />
		<link rel="stylesheet" href="//goma-cms.org/less.php?file=system/templates/css/goma_default.css" />
		<link rel="stylesheet" href="//goma-cms.org/less.php?file=system/templates/admin/style-front.css" />
		<meta charset="UTF-8" />
	</head>
	<body>
		<div id="document">
			<div class="logo_wrapper">
				<div class="content_wrapper">
					<div class="beside_logo">
						
					</div>
					<a href=""><img id="logo" src="//goma-cms.org/system/templates/admin/images/logo.png" data-retina="//goma-cms.org/system/templates/admin/images/logo@2x.png" alt="logo" /></a>
				</div>
			</div>
			
			<div id="wrapper" class="content_wrapper">
				<div class="header">
					<div class="content_wrapper">
						<h1>Goma</h1>
					</div>
				</div>
				<div class="content">
					<div class="content_wrapper">
						<h3>Die Festplatte des Webservers ist voll</h3>
						<p>Goma kann nur ausgeführt werden, wenn <strong>mindestens 20MB</strong> freier Speicherplatz zur Verfügung stehen. Bitte löschen Sie Dateien, damit so viel Platz zur Verfügung steht.</p>
						
						<h3>Your disk is full</h3>
						<p>Goma can't run if there is not enough free space to store cache-files or uploads. There must be <strong>at least 20MB</strong> of free space! You need to delete files to run Goma!</p>
					</div>
				</div>
			</div>
			
			
			<div class="footer-spacer"></div>
			<div class="footer">
				<div class="content_wrapper">
					<div class="branding" style="text-align: center;float: none;">Powered by <a href="http://goma-cms.org">Goma</a></div>
				</div>
			</div>
		</div>
	</body>
</html>