<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de">
	<head>
		<title>{$errname}</title>
		<base href="{BASE_URI}" />
		<link rel="stylesheet" href="{BASE_URI}system/templates/css/default.css" />
		<link rel="stylesheet" href="{BASE_URI}system/templates/css/goma_default.css" />
		<link rel="stylesheet" href="{BASE_URI}system/templates/admin/style.css" />
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />>
	</head>
	<body>
		<div id="wrapper_logout">
			
			<div class="wrapper_inner">
				<div class="logo_wrapper">
					<div class="content_wrapper">
						<div class="beside_logo">
							<!--<a href="#" title="{$_lang_help}" target="_blank" class="help"><img src="images/icons/goma32/help.png" data-retina="images/icons/goma32/help@2x.png" alt="{$_lang_help}" /></a>
							
							<a href="{BASE_SCRIPT}install/langselect/?redirect={$_SERVER_REDIRECT.url()}" title="{$_lang_switchlang}"><img src="images/icons/fatcow-icons/32x32/locate.png" alt="{$_lang_switchlang}" /></a>-->
						</div>
						<a target="_blank" href="http://goma-cms.org" target="_blank"><img id="logo" src="{BASE_URI}system/templates/admin/images/logo.png" alt="logo" /></a>
					</div>
				</div>
				<div class="header">
					<div class="content_wrapper">
						<h1>Goma</h1>
					</div>
				</div>
				<div class="content">
					<div class="content_wrapper">
						<div id="head">
							<h2>{$errcode}: {$errname}</h2>
						</div>
						<div id="errdetails">
							<strong>{$_lang_url}:</strong> $_SERVER_REQUEST_URI.text()<br />
							{$errdetails}
						</div>
						<% IF $errcode != 1 AND $errcode != 2 AND $errcode != 5 AND $throwDebug %>
							<strong>Debug:</strong>
							<textarea style="width: 99%; height: 200px;"><% printDebug() %></textarea>
						<% END %>
						<div id="back">
						 <a href="{BASE_URI}">{$_lang_back}</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</body>
</html>