<!DOCTYPE html>
<html lang="de">
	<head>
		<title>Rewrite is required on nginx</title>
		<link rel="stylesheet" href="//goma-cms.org/less.php?file=system/templates/css/default.css" />
		<link rel="stylesheet" href="//goma-cms.org/less.php?file=system/templates/css/goma_default.css" />
		<link rel="stylesheet" href="//goma-cms.org/less.php?file=system/templates/admin/style-front.css" />
		<meta charset="UTF-8" />
	</head>
	<body>
		<div id="document">
			<div class="logo_wrapper">
				<div class="content_wrapper">
					<div class="beside_logo">
						
					</div>
					<a href=""><img id="logo" src="//goma-cms.org/system/templates/admin/images/logo.png" data-retina="//goma-cms.org/system/templates/admin/images/logo@2x.png" alt="logo" /></a>
				</div>
			</div>
			
			<div id="wrapper" class="content_wrapper">
				<div class="header">
					<div class="content_wrapper">
						<h1>Goma</h1>
					</div>
				</div>
				<div class="content">
					<div class="content_wrapper">
						<h3>Rewrite is required on nginx</h3>
						<p>If you want to run Goma on this Server you have to define a correct server-configuration.</p>
						<p>Please define the following configuration:</p>
						<pre style="background: #eee; padding: 10px;border: 1px solid #ccc;">
if (!-f $request_filename) {
        rewrite (.*) /system/application.php last;
}

# we need this for file-uploads
client_max_body_size 50M;

error_page  404  /system/application.php;
						</pre>
					</div>
				</div>
			</div>
			
			
			<div class="footer-spacer"></div>
			<div class="footer">
				<div class="content_wrapper">
					<div class="branding" style="text-align: center;float: none;">Powered by <a href="http://goma-cms.org">Goma</a></div>
				</div>
			</div>
		</div>
	</body>
</html>