<!DOCTYPE html>
<html lang="de">
	<head>
		<title>Rewrite is required on nginx</title>
		<link rel="stylesheet" href="system/templates/css/default.css" />
		<link rel="stylesheet" href="system/templates/css/goma_default.css" />
		<link rel="stylesheet" href="system/templates/admin/style.css" />
		<meta charset="UTF-8" />
	</head>
	<body>
		<div id="wrapper_logout">
			
			<div class="wrapper_inner">
				<div class="logo_wrapper">
					<div class="content_wrapper">
						<div class="beside_logo">
							<!--<a href="#" title="{$_lang_help}" target="_blank" class="help"><img src="images/icons/goma32/help.png" data-retina="images/icons/goma32/help@2x.png" alt="{$_lang_help}" /></a>
							
							<a href="{BASE_SCRIPT}install/langselect/?redirect={$_SERVER_REDIRECT.url()}" title="{$_lang_switchlang}"><img src="images/icons/fatcow-icons/32x32/locate.png" alt="{$_lang_switchlang}" /></a>-->
						</div>
						<a target="_blank" href="http://goma-cms.org" target="_blank"><img id="logo" src="{BASE_URI}system/templates/admin/images/logo.png" alt="logo" /></a>
					</div>
				</div>
				<div class="header">
					<div class="content_wrapper">
						<a href=""><h1>Goma</h1></a>
					</div>
				</div>
				<div class="content">
					<div class="content_wrapper">
						<h3>Rewrite is required on nginx</h3>
						<p>If you want to run Goma on this Server you have to define a correct server-configuration.</p>
						<p>Please define the following configuration:</p>
						<pre style="background: #eee; padding: 10px;border: 1px solid #ccc;">
if (!-f $request_filename) {
        rewrite (.*) /system/application.php last;
}

# we need this for file-uploads
client_max_body_size 50M;

error_page  404  /system/application.php;
						</pre>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>