<!DOCTYPE html>
<html lang="de">
	<head>
		<base href="{BASE_URI}" />
		<title>500 - Setup unsupported</title>
		<link rel="stylesheet" href="//goma-cms.org/less.php?file=system/templates/css/default.css" />
		<link rel="stylesheet" href="//goma-cms.org/less.php?file=system/templates/css/goma_default.css" />
		<link rel="stylesheet" href="//goma-cms.org/less.php?file=system/templates/admin/style-front.css" />
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	</head>
	<body id="wrapper_logout">

		<div id="document">
			<div class="logo_wrapper">
				<div class="content_wrapper">
					<div class="beside_logo">
						
					</div>
					<a href=""><img id="logo" src="//goma-cms.org/system/templates/admin/images/logo.png" data-retina="//goma-cms.org/system/templates/admin/images/logo@2x.png" alt="logo" /></a>
				</div>
			</div>
			
			<div id="wrapper" class="content_wrapper">
				<div class="header">
					<div class="content_wrapper">
						<h1>Goma</h1>
					</div>
				</div>
				<div class="content">
					<div class="content_wrapper">
						<h1>Goma</h1>
					</div>
				</div>
				<div class="content">
					<div class="content_wrapper">
						<h3>500 - Setup unsupported</h3>
						<p>Goma is not supported in this setup.</p>
						<p><strong>Please install the PHP-XML package. This error usually occurs on RedHat-related OS.</strong></p>
					</div>
				</div>
			</div>
			
			
			<div class="footer-spacer"></div>
			<div class="footer">
				<div class="content_wrapper">
					<div class="branding" style="text-align: center;float: none;">Powered by <a href="http://goma-cms.org">Goma</a></div>
				</div>
			</div>
		</div>
	</body>
</html>