<!DOCTYPE html>
<html lang="de">
	<head>
		<title>PHP 5.2 is required</title>
		<link rel="stylesheet" href="system/templates/css/default.css" />
		<link rel="stylesheet" href="system/templates/admin/style.css" />
		<meta charset="UTF-8" />
	</head>
	<body>
		<div id="wrapper_logout">
			
			<div class="wrapper_inner">
				<a target="_blank" href="http://goma-cms.org" target="_blank"><img id="logo" src="system/templates/admin/images/logo.png" alt="logo" /></a>
				<div class="header">
					<a href=""><h1>Goma Framework</h1></a>
				</div>
				<div class="content">
					<h3>PHP 5.2 is required</h3>
					<p>To run Goma, please install PHP 5.2 or higher on your Webserver. We recommed using PHP 5.3 or higher. If you need help, please contact the <a href="http://forum.goma-cms.org">support</a>.</p>
					<h3>Es wird PHP 5.2 ben&ouml;tigt</h3>
					<p>Um Goma auszuf&uuml;hren, ben&ouml;tigen Sie PHP 5.2 oder h&ouml;her. Bitte installieren Sie für die besten Ergebnisse PHP 5.3 oder höher. Falls Sie Hilfe ben&ouml;tigen, bitte wenden Sie sich an den <a href="http://forum.goma-cms.org">Support</a>.</p>
				</div>
			</div>
		</div>
	</body>
</html>