<!DOCTYPE html>
<html lang="de">
	<head>
		<title>PHP 5.4 is required</title>
		<link rel="stylesheet" href="//goma-cms.org/less.php?file=system/templates/css/default.css" />
		<link rel="stylesheet" href="//goma-cms.org/less.php?file=system/templates/css/goma_default.css" />
		<link rel="stylesheet" href="//goma-cms.org/less.php?file=system/templates/admin/style-front.css" />
		
		<meta name="viewport" content="width=device-width" />
		<meta charset="UTF-8" />
	</head>
	<body>
		<div id="document">
			<div class="logo_wrapper">
				<div class="content_wrapper">
					<div class="beside_logo">
						
					</div>
					<a href=""><img id="logo" src="//goma-cms.org/system/templates/admin/images/logo.png" data-retina="//goma-cms.org/system/templates/admin/images/logo@2x.png" alt="logo" /></a>
				</div>
			</div>
			
			<div id="wrapper" class="content_wrapper">
				<div class="header">
					<div class="content_wrapper">
						<h1>Goma</h1>
					</div>
				</div>
				<div class="content">
					<div class="content_wrapper">
						<h1>Goma</h1>
					</div>
				</div>
				<div class="content">
					<div class="content_wrapper">
						<h3>PHP 5.4 is required</h3>
						<p>To run Goma, please install PHP 5.4 or higher on your Webserver. We recommed using PHP 5.6 or higher. If you need help, please contact the <a href="http://goma-cms.org/support">support</a>.</p>
						<h3>Es wird PHP 5.4 ben&ouml;tigt</h3>
						<p>Um Goma auszuf&uuml;hren, ben&ouml;tigen Sie PHP 5.4 oder h&ouml;her. Bitte installieren Sie für die besten Ergebnisse PHP 5.6 oder höher. Falls Sie Hilfe ben&ouml;tigen, bitte wenden Sie sich an den <a href="http://goma-cms.org/support">Support</a>.</p>
					</div>
				</div>
			</div>
			
			
			<div class="footer-spacer"></div>
			<div class="footer">
				<div class="content_wrapper">
					<div class="branding" style="text-align: center;float: none;">Powered by <a href="http://goma-cms.org">Goma</a></div>
				</div>
			</div>
		</div>
	</body>
</html>