<h1>{$_lang_db_db}</h1>
<div class="ui-state-highlight ui-corner-all" style="padding:5px;">
	<span class="ui-icon ui-icon-info" style="float: left; margin-right: 0.3em;"  style="padding:0px;"></span>
	{$_lang_info_db}

</div>
{$content}

<script type="text/javascript">
    // <![CDATA[
		function checkall()
		{
			$("input[type=checkbox]").attr('checked','checked');
		}
		function uncheckall()
		{
			$("input[type=checkbox]").removeAttr('checked');
		}
		$(function() 
		{
			$("#backups").css("height", $(window).height() - 400);
			$(window).resize(function(){
				$("#backups").css("height", $(window).height() - 400);
			});
		});
	// ]]>
</script>
<div style="margin-top: 20px; "><a class="button" href="{URL}/backup/">{$_lang_db_export_db}</a></div>

				
<div>
	<h3>{$_lang_db_exports}</h3>
	<p>{$_lang_db_restore_warn}</p>
	<form method="post" action="{URL}/multi_delete{URLEND}">
		<div>
			<table width="780" class="data_table highlighted_table">
				<thead>
					<tr class="menu">
						<td>
								
						</td>
						<td>
							<strong><a href="javascript: void(0);" onclick="checkall();">{$_lang_checkall}</a></strong>
						</td>
						<td>
							<strong><a href="javascript: void(0);" onclick="uncheckall();">{$_lang_uncheckall}</a></strong>
						</td>
						<td>
							{$_lang_checked}: <input type="image" src="images/16x16/del.png" title="{$_lang_delete}" />
						</td>
						
					</tr>
				</thead>
				<tbody id="backups" style="overflow: auto; overflow-x: hidden;">
					<% CONTROL this() %>
						<% IF $this.white %>
						<tr style="width: 760px !important;">
						<% ELSE %>
						<tr  style="width: 760px !important;" class="grey">
						<% END %>
							<td>
								<input type="checkbox" name="delete[]" value="{$this.name}" />
							</td>
							<td>
								<a href="{URL}/get/{$this.name.url()}">$this.name.text()</a> 
							</td>
							<td>
								<strong>$this.created.date()</strong>
							</td>
							<td>
								<a href="{URL}/delete/{$this.name.url()}?redirect={$_SERVER_REQUEST_URI.url()}" onclick="return confirm('{$_lang_db_delete_confirm}');"><img title="{$_lang_delete}" src="images/16x16/del.png" alt="x" /></a> 
								<a onclick="return confirm('{$_lang_db_restore_confirm}');" href="{URL}/restore/{$this.name.url()}">{$_lang_db_re}</a>
							</td>
						</tr>
					<% ENDCONTROL %>
				</tbody>
			</table>
		</div>
	</form>
</div>   
<h2><% lang("db_upload", "upload") %></h2>
<form method="post" action="{URL}/upload{URLEND}" enctype="multipart/form-data">
	<input type="file" name="file" />&nbsp;<input type="submit" value="{$_lang_save}" class="button" />
</form>