<h1>{$_lang_smilies}</h1>


<div>
	<table id="smiles" width="1100" style="width: 1100px;border: 1px solid #cfcfcf;" cellspacing="0">
		<tr style="background-image: url(images/menu.png);background-repeat: repeat-x;height: 30px;">
			<td style="width: 300px;">
				<strong>{$_lang_smiliecode}</strong>
			</td>
			<td width="250">
				<strong>{$_lang_pic}</strong>
			</td>
			<td style="width: 300px;" >
				
			</td>
			<td>&nbsp;</td>
		</tr>
		<% CONTROL this() %>
			<tr>
				<td>
					$this.code.text()
				</td>
				<td>
					<img src="{$this.image}" alt="{$this.image}" />
				</td>
				<td>
					$this.description.text()
				</td>
				<td>
					<a href="{URL}/cms_edit/{$this.id}{URLEND}?redirect={$_SERVER_REQUEST_URI.URL()}" title="{$_lang_edit}"><img src="images/16x16/edit.png" alt="{$_lang_edit}" /></a>
					<a href="{URL}/cms_del/{$this.id}{URLEND}?redirect={$_SERVER_REQUEST_URI.URL()}" title="{$_lang_delete}"><img src="images/16x16/del.png" alt="{$_lang_delete}" /></a>
				</td>
			</tr>
		<% ENDCONTROL %>
	</table>
</div>
{$form}