
<h1>{$_lang_mem_members}</h1>
<div class="memberlist">
	<% member.activatePagination($_GET_pa); %>
	<% CONTROL member() %>
		<div class="member" itemscope itemtype="http://schema.org/Person">
			<div style="float: left;" class="image">
				
				<a href="{URL}/member/{$member.id}{URLEND}">$member.image.setSize(128,128, false, 'data-prop="image"')</a>
			</div>
			<div class="data">
				<a href="{URL}/member/{$member.id}{URLEND}" itemprop="name">
					<% IF $member.name %>
						$member.name.text()
					<% ELSE %>
						$member.nickname.text()
					<% END %>
				</a>
				<span>
					<% IF $member.name %>
						$member.nickname.text()
					<% END %>
				</span>
			</div>
			<div class="clear"></div>
		</div>
	<% ENDCONTROL %>
	<div class="clear"></div>
	<div class="pages">
		<% lang("page", "Page") %>
		<% CONTROL member.pages() %>
			<% IF $pages.black %>
				$pages.page
			<% ELSE %>
				<a href="{URL}{URLEND}?pa=$pages.page">$pages.page</a>
			<% ENDIF %>
		<% ENDCONTROL %>
	</div>
</div>