<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>framework</string>
	<key>name</key>
	<string>goma</string>
	<key>author</key>
	<string>Goma Team</string>
	<key>version</key>
	<string>2.0RC6</string>
	<key>build</key>
	<string>124</string>
	<key>icon</key>
	<string>templates/images/app-icon.png</string>
	<key>Codename</key>
	<string>Dandelion</string>
	<key>title</key>
	<string>Goma Dandelion</string>
</dict>
</plist>
