<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>language</string>
	<key>title</key>
	<string>Deutsch</string>
	<key>Editor-Lang</key>
	<string>de</string>
	<key>icon</key>
	<string>de.png</string>
	<key>author</key>
	<string>Goma-Team</string>
	<key>version</key>
	<string>1.0</string>
	<key>areaCodes</key>
	<array>
		<string>de-de</string>
		<string>de</string>
		<string>de-ch</string>
		<string>de-at</string>
	</array>
</dict>
</plist>
