<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>expansion</string>
	<key>name</key>
	<string>gomacms_rating</string>
	<key>title</key>
	<string>Goma CMS Rating</string>
	<key>autor</key>
	<string>Goma Team</string>
	<key>version</key>
	<string>1.0</string>
	<key>requireApp</key>
	<string>gomacms</string>
	<key>requireAppVersion</key>
	<string>2.0.0-025</string>
	<key>requireFrameworkVersion</key>
	<string>2.0.0-025</string>
	<key>viewFolder</key>
	<string>templates</string>
	<key>langFolder</key>
	<string>languages</string>
	<key>loadCode</key>
	<string>classes</string>
	<key>defaultLang</key>
	<string>en-us</string>
	<key>icon</key>
	<string>resources/rating.png</string>
</dict>
</plist>