<div class="FileUpload_left">
    <div class="icon" id="form_field_imageuploadfield_77a3edfafc6bf51122fe7352dd2db190_avatar_upload">
        <a target="_blank">
            <div class="img">
                <img src="images/icons/goma/128x128/file.png" data-retina="images/icons/goma/128x128/file.png" alt="" />
            </div>
        </a>
    </div>
    <input name="avatar_file" id="form_field_imageuploadfield_77a3edfafc6bf51122fe7352dd2db190_avatar_file_hidden"
           type="hidden" value="" class="FileUploadValue"/>
</div>
<div class="FileUpload_right">
    <div class="wrapper">
        <div class="actions">
            <button class="button show-on-js delete-file red"><i class="fa fa-trash delete-icon" type="button"></i>
            </button>
        </div>
    </div>
    <div class="no-js-fallback hide-on-js">
        <h3>Datei ersetzen</h3>
        <input name="avatar" class="input" type="file" title="Bild"
               id="form_field_imageuploadfield_77a3edfafc6bf51122fe7352dd2db190_avatar"/>
    </div>
</div>
<div class="clear"></div>