<label for="$id">$title</label>
<div class="FileUpload_left" style="float: left;">
    <div class="icon" id="{$id}_upload">
        <% IF $upload %>
        <a target="_blank" href="$upload.path">
            <div class="img">
                <img src="$upload.icon128" data-retina="$upload.icon128_2x" alt="$upload.name" />
            </div>
            <span>$upload.name</span>
        </a>
        <% ELSE %>
        <a target="_blank">
            <div class="img">
                <img src="$defaultIcon" alt="" />
            </div>
            <span></span>
        </a>
        <% END %>
    </div>
    <input name="{$name}_file" id="{$id}_hidden"
           type="hidden" value="$upload.realpath" class="FileUploadValue"/>
</div>
<div class="FileUpload_right">
    <div class="wrapper show-on-js">
        <div class="actions">
            <div class="progress_info"></div>
            <button class="button delete-file-button red"><i class="fa fa-trash delete-icon" type="button"></i>
            </button>
            <input type="button" class="button fileSelect" id="$id" value="<% lang('files.browse') %>" />
        </div>
    </div>
    <div class="no-js-fallback hide-on-js">
        <h3><% lang("replace_file") %></h3>
        <input name="$name" class="input" type="file" title="$title"
               id="{$id}"/>
    </div>
</div>
<div class="clear"></div>
