<label for="$id">$title</label>
<div class="view">
    <div class="subview">
        <table id="$id" class="filetable">
            <thead>
            <tr>
                <td class="icon"></td>
                <td class="filename"><% lang("filename") %></td>
                <td class="no-js actions">
                    <input type="file" class="no-js-upload" name="{$name}_upload" />
                    <input type="submit" class="no-js-upload button" name="{$name}_uploadbutton" value="<% lang('upload') %>" />
                </td>
            </tr>
            </thead>
            <tbody>
            <% IF $uploads %>
            <% CONTROL uploads() as $upload %>
            <tr name="$upload.id" data-id="node_$upload.id">
                <td class="icon">
                    <img src="$upload.icon16" data-retina="$upload.icon16_2x" />
                </td>
                <td class="filename" title="$upload.filename">
                    <% IF $upload.path %>
                    <a href="$upload.path" target="_blank">$upload.name</a>
                    <% ELSE %>
                    $upload.name
                    <% END %>
                </td>
                <td class="actions">
                    <% IF $upload.canDelete %>
                    <div class="delete">
                        <input type="checkbox" id="{$id}__delete_{$upload.id}" name="{$name}__delete_$upload.id" value="1" />
                        <label for="{$id}__delete_{$upload.id}" ><% lang("delete") %></label>
                    </div>
                    <% END %>
                </td>
            </tr>
            <% ENDCONTROL %>
            <% ELSE %>
            <tr>
                <th colspan="3" class="empty">
                    <% lang("files.no_file") %>
                </th>
            </tr>
            <% END %>
            </tbody>
        </table>
    </div>
</div>
