<div class="form-component">
    <div class="component-actions">
        <button type="button" value="1" id="sort-button-$model.id" style="display: none;" class="part-sort-button delete-button button" title="{$_lang_sort}">
            <i class="fa fa-arrows"></i>
        </button>
        <button type="submit" value="1" id="delete-button-$model.id" style="display: none;" class="part-delete-button delete-button button red" title="{$_lang_delete}">
            <i class="fa fa-minus-circle"></i>
        </button>
    </div>

    <div class="undo-template" style="display:none">
        $model.partTitle<span class="headline"> "<strong class="text"></strong>"</span>: <% lang("block_deleted") %> <a class="undo" href="javascript:;"><% lang("undo") %></a>
    </div>

    <% CONTROL fields() as $field %>
        <% CONTROL field.jsRenderResources() as $resource %>
        <% INCLUDE_JS $resource %>
        <% ENDCONTROL %>

        <% CONTROL field.cssRenderResources() as $resource %>
        <% INCLUDE_CSS $resource %>
        <% ENDCONTROL %>

        $field.field
    <% ENDCONTROL %>
</div>
