<% IF level(3) %>
	<div class="navigation">
		<ul>
		<% CONTROL mainbar(3) %>
			<li class="$mainbar.LinkClass">
				<a href="$mainbar.url" class="$mainbar.LinkClass">
					{$mainbar.title}
				</a>
			</li>
		<% ENDCONTROL %>
		</ul>
	</div>
	<h2><% active_mainbar_title() %></h2>
<% END %>

<% IF level(2) %>
	<div class="navigation">
		<ul>
		<% CONTROL mainbar(2) %>
			<li class="$mainbar.LinkClass">
				<a href="$mainbar.url" class="$mainbar.LinkClass">
					{$mainbar.title}
				</a>
			</li>
		<% ENDCONTROL %>
		</ul>
	</div>
<% END %>