<% IF login() %>
	<h4><% lang("really welcome", "Welcome ") %>, {$_cms_user}</h4>
		<div class="userinfo">
			<!--<div class="messages">{$_lang_new_messages}: [ <a href="pm{URLEND}">{$new_messages}</a> ]</div>-->
			<div class="users">{$_lang_user_online} [ {$users_online} ]</div>
			<div>&nbsp;</div>
		</div>
		<a style="color:black;text-decoration:underline;" href="profile/edit{URLEND}">{$_lang_edit_profile}</a> | <a style="color:black;text-decoration:underline;" href="profile{URLEND}">{$_lang_show_profile}</a><br />
		<form method="post" action="profile/logout">
			<input type="hidden" name="logout" value="1" />
			<input type="hidden" name="redirect" value="{$_SERVER_REQUEST_URI}" />
			<input type="submit" class="button" value="{$_lang_logout}" style="margin: 2px 0;" />
		</form>
	<br />
<% ELSE %>
		<form action="{BASE_SCRIPT}profile/login/?redirect={$_SERVER_REDIRECT.url()}" method="post">
			<table>
				<tr class="hide-on-js">
					<td><label for="admin_name">{$_lang_username}</label></td>
				</tr>
				<tr>
					<td><input type="text" placeholder="{$_lang_username}" name="user" title="{$_lang_username}" /></td>
				</tr>
				<tr class="hide-on-js">
					<td><label for="admin_pwd">{$_lang_password}</label></td>
				</tr>
				<tr>
					<td><input type="password" placeholder="{$_lang_password}" title="{$_lang_password}" name="pwd" /></td>
				</tr>
				<tr>
					<td>
						<div><input class="button" type="submit" value="<% lang('perform_login', 'Login') %>"  /></div>
						<div style="padding-left: 6px;" class="subline"><a href="profile/register{URLEND}">{$_lang_register}</a><br /><a href="profile/lost_password{URLEND}">{$_lang_lost_password}</a></div>
					</td>
				</tr>
			</table>
		</form>
<% END %>