<script type="text/javascript">
	$(function() {
		$("#userbar-logout input[type=image]").hover(function() {
			$(this).attr("src", "system/templates/admin/images/power_off_hover.png");
		}, function() {
			$(this).attr("src", "system/templates/admin/images/power_off.png");
		});
		
		var hide = function() {
			$("#userbar-langSelect ul").clearQueue().stop().slideUp(100);
			$("#userbar-langSelect").removeClass("active");
		}
		
		$("#userbar-langSelect > a").click(function() {
			$(this).parent().toggleClass("active");
			$(this).parent().find("ul").clearQueue().stop().slideToggle(100);
			return false;
		});

		CallonDocumentClick(hide, [$("#userbar-langSelect"), $("#userbar-langSelect ul")]);
	}); 
</script>
<div id="userbar" class="userbar-no-js">
	<div id="userbar-help" class="help-wrapper">
		<a href="#" title="{$_lang_help}" class="dropdownDialog-bottom help noAutoHide"><img src="images/icons/goma32/help_white.png" data-retina="images/icons/goma32/help_white@2x.png" height="32" width="32" alt="{$_lang_help}" /></a>
	</div>


	<% IF PERMISSION("ADMIN_HISTORY") %>
		<div id="userbar-history">
			<a href="{BASE_URI}{BASE_SCRIPT}{$historyURL}{URLEND}?redirect={$_SERVER_REDIRECT.url()}" title="{$_lang_history}" class="dropdownDialog-bottom"><img src="images/icons/modernui/halflight/48x48/appbar.timer.forward.png" height="32" width="32" alt="{$_lang_history}" /></a>
		</div>
	<% END %>

	<div id="userbar-langSelect">
		<% CONTROL array(currentLang()) AS $currentLang %>
		<a title="{$_lang_switchlang}" href="{BASE_SCRIPT}admin/switchLang{URLEND}?redirect={$_SERVER_REDIRECT.url()}"><img src="$currentLang.icon" alt="$currentLang.code" /></a>
		<% ENDCONTROL %>
		<ul style="display: none;">
			<% CONTROL languages() AS $lang %>
			<% IF $lang.code = $_cms_lang %>
			<li class="active">
				<% ELSE %>
			<li>
				<% END %>
				<a href="<% addParamToUrl($_SERVER_REDIRECT, "setlang", $lang.code) %>"><img src="$lang.icon" alt="$lang.code" /> <span>$lang.title</span></a>
			</li>
			<% ENDCONTROL %>
		</ul>
	</div>

	<% IF $_cms_user %>
	<div id="userbar-user">
		<a href="profile/" title="{$_cms_user}">$loggedInUser.image.setSize(29,29)</a>
	</div>
	<% END %>

	<div id="userbar-logout">
		<form method="post" id="loginFormGlobe" action="{BASE_SCRIPT}profile/logout">
			<input type="hidden" name="logout" value="1" />
			<input type="hidden" name="redirect" value="{BASE_URI}" />
			<input title="{$_lang_logout}" alt="{$_lang_logout}" type="image" src="system/templates/admin/images/power_off.png" />
		</form>
	</div>
</div>