<!DOCTYPE html>
<html lang="{$_cms_lang}">
	<head>
		<base href="{BASE_URI}" />
		<title>{$_cms_ptitle} <% IF $title %> - $title <% ELSE %> - {$_lang_administration} <% END %></title>

		<% INCLUDE_CSS_MAIN "style.less" %>
		<% INCLUDE_CSS_MAIN "jqueryui/theme.css" %>
		<% INCLUDE_CSS_MAIN "notifications.css" %>
		<% INCLUDE_CSS_MAIN "font-awsome/font-awesome.css" %>
		<% gload("helpbox") %>
		<% INCLUDE_JS_MAIN "admin.js" %>
		
		<% INCLUDE_JS "apps/AddonStoreClient.js" %>
		<% headerHTML() %>

		<!--[if lte IE 8]>
		<link rel="stylesheet" media="print" href="system/templates/admin/print.css" type="text/css" />
		<![endif]-->
		
		<% IF NOT $content AND PERMISSION("superadmin") %>
			<% gload("htmllib") %>
			
	
			<script type="text/javascript">
			// <![CDATA[
			
				goma.AddOnStore.onReady(function(){
					goma.AddOnStore.ajax({
						type: "post",
						url: "updates",
						data: {"updates": $updatables_json }
					}).done(function(html, textStatus, jqXHR){
						var a = jqXHR.getResponseHeader("X-Update-Count") ? jqXHR.getResponseHeader("X-Update-Count") : 0;
						
						if(a == 0)
							return null;
						
						if(a == 1) {
							$("#update .count").html('1');
						} else {
							$("#update .count").text(a);
						}
						$("#update .count").css("display", "block");
					});
					
					$("#update").attr("href", $("#update").attr("data-href"));
				});
			// ]]>
			</script>
		<% END %>
		
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />
	</head>
	<body id="adminPanel" class="adminPanel">
		<!--<div id="viewport">-->
		<div id="wrapper" class="adminPanel">

			<div id="content">
				<!-- top header bar in black -->

				<!-- header subbar in grey -->
				<div id="head" class="clear">
					<div id="head_inner">
						
						<div class="user">
							<a href="profile{URLEND}" title="{$_cms_user}">$loggedInUser.image.setSize(40, 40)</a>
						</div>
						
						<div class="dropdown">
							<div class="dropdown_inner">
							
								<div id="sidebar_head">
									
									<div class="weblink"> 
										<!--<a class="pageTitle" target="_blank" title="{$_lang_view_site}" href="./">
											{$_cms_ptitle}
										</a>-->
										<a id="visit_webpage" href="{$previewURL}">{$_cms_title} - <span class="flex"><% lang("preview_website", "Preview Website") %> </span> <i class="fa fa-angle-right fa-2x"></i></a>
									</div>
									
									<div class="help" id="help-button">
										<a href="#"><i class="fa fa-question-circle fa-2x"></i></a>
									</div>
									
									<div id="userbar-langSelect">
										<% CONTROL array(currentLang()) AS $currentLang %>
										<a title="{$_lang_switchlang}" href="{BASE_SCRIPT}admin/switchLang{URLEND}?redirect={$_SERVER_REDIRECT.url()}"><img src="$currentLang.icon" alt="$currentLang.code" /></a>
										<% ENDCONTROL %>
										<ul style="display: none;">
											<% CONTROL languages() AS $lang %>
											<% IF $lang.code = $_cms_lang %>
											<li class="active">
												<% ELSE %>
											<li>
												<% END %>
												<a href="<% addParamToUrl($_SERVER_REDIRECT, "setlang", $lang.code) %>"><img src="$lang.icon" alt="$lang.code" /> <span>$lang.title</span></a>
											</li>
											<% ENDCONTROL %>
										</ul>
									</div>
									
									<div id="userbar-user">
										<a href="profile/" title="{$_cms_user}">$loggedInUser.image.setSize(40, 40)</a>
									</div>
									
									<div id="userbar-logout">
										<form method="post" id="loginFormGlobe" action="{BASE_SCRIPT}profile/logout">
											<input type="hidden" name="logout" value="1" />
											<input type="hidden" name="redirect" value="{BASE_URI}" />
											<input title="{$_lang_logout}" alt="{$_lang_logout}" type="submit" value="{$_lang_logout}" />
										</form>
									</div>
									
									<div class="clear"></div>
								</div>
								
								<ul id="navigation">
									<span class="arrow"></span>
									<% IF NOT $content %>
										<li class="active">
									<% ELSE %>
										<li>
									<% END %>
										<a href="{BASE_SCRIPT}admin/" title="{$_lang_overview}">
											<img src="system/templates/admin/images/home_icon.png" data-retina="system/templates/admin/images/home_icon@2x.png" alt="{$_lang_overview}" />
											<span class="text-holder">
												<span>{$_lang_overview}</span>
											</span>
										</a>
									</li>
									
									<% CONTROL this() %>
										<% IF $this.active %>
											<li class="active">	
										<% ELSE %>
											<li>
										<% END %>
											<a href="{BASE_SCRIPT}admin/{$this.uname}{URLEND}" title="$this.text">
												<% IF $this.icon %>
													<img src="$this.icon" data-retina="<% retinaPath($this.icon) %>" alt="$this.text" />
												<% ELSE %>
													<div class="no-image"></div>
												<% END %>
												<span class="text-holder">
													<span>$this.text</span>
												</span>
											</a>
										</li>
									<% ENDCONTROL %>
									
									<li class="clear"></li>
								</ul>
								
								
							</div>
						</div>
						
						<a id="navi-toggle" href="javascript:;">
							<img src="system/templates/admin/images/logo.png" alt="logo" />
							<span class="text">
								<% IF $title %>
									<span title="$Title" class="title">$Title</span>
								<% ELSE %>
									<span title="{$_lang_overview}" class="title">{$_lang_overview}</span>
								<% END %>
								<i class="fa fa-angle-down fa-3x"></i>
							</span>
						</a>

						<div class="clear"></div>
					</div>
				</div>
				
				<div id="maincontent">
					
					<!-- content -->
					<% IF $content %>
						<div class="addcontent">
							$addcontent
						</div>
						<div class="notificationRoot content_inner $content_class">
							$content
						</div>
					<% ELSE %>
						
						<!-- root of content-area -->
						<div class="notificationRoot content_inner adminContent">
							<div id="addcontent" style="max-height: 150px;overflow: auto;">
								<% IF $tooManyLogs && permission("superadmin") %>
									<div class="notice" id="flush-log-recommend">
										{$_lang_flush_log_recommended} <a href="admin/flushLog/" class="button">{$_lang_flush_log}</a>
									</div>
								<% END %>
								$addcontent
							</div>
							
							<!-- history -->
							<div id="history" class="content_container">
								<h2>{$_lang_history}</h2>
								<div>
									<span class="loading"><img src="images/16x16/loading.gif" alt="" /> $_lang_loading</span>
								</div>
							</div>
							
							<div id="overview">
								
								<!-- Statistics -->
								
								<div class="content_container" id="stats">
									<h2><% lang("statistics") %> <span id="statistics_range"></span></h2>
									
									<% INCLUDE_JS "system/libs/thirdparty/flot/excanvas.min.js" %>
									<% INCLUDE_JS "system/libs/thirdparty/flot/jquery.flot.js" %>
									<% INCLUDE_JS "system/libs/thirdparty/flot/jquery.flot.time.js" %>
									<% INCLUDE_JS "system/libs/thirdparty/flot/jquery.flot.fillbetween.js" %>
									<% INCLUDE_JS "system/libs/thirdparty/flot.tooltip-master/js/jquery.flot.tooltip.min.js" %>
									
									<script type="text/javascript">
										(function($){
											var url = "api/stats/lastMonth";
											

											var options = {
												xaxis: {
													mode: "time",
													timeformat: "%d.%m %H:%M",
													minTickSize: [4, "hour"]
												},
												yaxis: {
													min: 0,
													autoscaleMargin: 0.1
												},
												selection: {
													mode: "x"
												},
												series: {
													lines: {
														show: true,
														lineWidth: 2
													},
													points: {
														show: true
													},
													shadowSize: 0
												},
												grid: {
													borderWidth: 0,
													hoverable: true,
													clickable: true
												},
												tooltip:            true,
												tooltipOpts: {
													content:        "<h4>%s %x</h4> %y",
													xDateFormat: 	"%d.%m %H:%M",
													yDateFormat:   	"",
													shifts: { 
														x:          10,
														y:          20 
													}
												}
											};
											
											var visitors = [],
												hits = [],
												plot,
												
												page = 1,
												currentURL,
												
												drawVisitPlot = function() {
													plot = $.plot("#plot-container", [{	label: lang("page_views"), 
																					   data: hits,
																					   color: "#da097a"
																					  },
																					  {
																						  label: lang("visitors"), 
																						  data: visitors,
																						  color: "#24ACB8"
																					  }], options);
													
												},
												
												updateFlot = function() {
													
													$("#plot-container").html('<span class="loading"><img src="images/16x16/loading.gif" alt="" /> '+lang("loading")+'</span>');
													$("#statistics_range").html("");
													
													$.ajax({
														url: currentURL,
														type: 'post',
														data: {page: page},
														success: function(data) {
															
															var timePositionMiddle = (data.timePositionMiddle !== undefined) ? data.timePosition : true;
															
															visitors = [];
															hits = [];
															for(var i in data.data) {
																var time;
																if(timePositionMiddle) {
																	time = (data.data[i].flotStart + data.data[i].flotEnd) / 2;
																} else {
																	time = data.data[i].flotStart;
																}
																
																visitors.push([time, data.data[i].visitors]);
																hits.push([time, data.data[i].hits]);
															}
															
															$("#statistics_range").html(data.title);
															
															if(data.minTickSize !== undefined) {
																options.xaxis.minTickSize = data.minTickSize;
															} else {
																options.xaxis.minTickSize = [4, "hour"];
															}
															
															if(data.timeFormat !== undefined) {
																options.xaxis.timeformat = options.tooltipOpts.xDateFormat = data.timeFormat;
															} else {
																options.xaxis.timeformat = options.tooltipOpts.xDateFormat = "%d.%m %H:%M";
															}
															
															if(data.toolTipContent !== undefined) {
																options.tooltipOpts.content = data.toolTipContent;
															} else {
																options.tooltipOpts.content = "<h4>%s %x</h4> %y";
															}
															
															drawVisitPlot();
															
														},
														silence: true
													});
													
													$("#plot-navigation #plot-arrow-next").removeClass("disabled");
													if(page > 1) {
														$("#plot-navigation #plot-arrow-prev").removeClass("disabled");
													} else {
														$("#plot-navigation #plot-arrow-prev").addClass("disabled");
													}
												};
											
											$(function(){
												
												$("#plot-navigation a.stat").click(function(){
													$("#plot-navigation a.stat").removeClass("active");
													$(this).addClass("active");
													
													
													currentURL = $(this).attr("href");
													page = 1;
													
													updateFlot();
													
													return false;
												});
												
												$("#plot-navigation #plot-arrow-next").click(function(){
													if($(this).hasClass("disabled")) {
														return false;
													}
													
													page++; 
													
													updateFlot();
													
													return false;
												});
												
												$("#plot-navigation #plot-arrow-prev").click(function(){
													
													if($(this).hasClass("disabled")) {
														return false;
													}
													
													page--; 
													
													updateFlot();
													
													return false;
												});
												
												
												$("#userbar-history").addClass("overview");
												goma.ui.ajax($("#history div"), {
													url: '{BASE_URI}{BASE_SCRIPT}{$historyURL}{URLEND}?redirect={$_SERVER_REDIRECT.url()}',
													silence: true
												}, false, true);

												
												$("#plot-navigation a.stat.active").click();
												
												goma.ui.addFlexBox($("#history > div"));
											});
											
											
											
											$(window).resize(drawVisitPlot);
										})(jQuery);
										
									</script>

										<div id="plot-navigation" class="ui-grouped-buttons">
										    										
    										<div id="plot-arrow-prev" class="disabled">
    										    <a href="#">
    										        <i class="fa fa-angle-right fa-lg"></i>
    										    </a>
    										</div>
    										<div id="plot-arrow-next" class="disabled">
        										<a href="#">
        										    <i class="fa fa-angle-left fa-lg"></i>
        										</a>
    										</div>
										
											<ul>
												<li>
													<a href="{BASE_SCIRPT}api/stats/yesterday" class="stat dayly">{$_lang_day}</a>
												</li>
												<li>
													<a href="{BASE_SCIRPT}api/stats/lastWeek" class="active stat weekly">{$_lang_week}</a>
												</li>
												<li>
													<a href="{BASE_SCIRPT}api/stats/lastMonth" class="stat monthly">{$_lang_month}</a>
												</li>
												<li>
													<a href="{BASE_SCIRPT}api/stats/lastYear" class="stat yearly">{$_lang_year}</a>
												</li>
											</ul>
										</div>

										
										<div id="plot-container">
											<span class="loading"><img src="images/16x16/loading.gif" alt="" /> $_lang_loading</span>
										</div>
									
							</div>
								
								<!-- end of statistics -->
								
								<div id="home-container">
		
									<div id="left">
										<div id="version" class="content_container">
											<h2>Goma {$_lang_version}</h2>
											<div>
												<table class="versionTable" width="100%">
													<% CONTROL Software() %>
													<% IF NOT $software.white %>
													<tr class="grey">
														<% ELSE %>
													<tr class="white">
														<% END %>
														<td class="icon"> <% IF $software.icon %> <img src="$software.icon" alt="" /> <% END %> </td>
														<td class="name"> $software.title </td>
														<td class="version"> $software.version </td>
													</tr>
													<% ENDCONTROL %>
												</table>
												<% IF PERMISSION("superadmin") %>
													<a id="update" href="{BASE_URI}{BASE_SCRIPT}admin/update{URLEND}?noJS=1"  data-href="{BASE_URI}{BASE_SCRIPT}admin/update{URLEND}">{$_lang_update_install}<span class="count" style="display: none;"></span></a>
												<% END %>
		
												<% IF DEV_MODE AND PERMISSION("superadmin") %>
													<a href="{BASE_SCRIPT}dev/buildDistro{URLEND}"><% lang("distro_build", "build a version") %></a>
												<% END %>
											</div>
										</div>
									</div>
			
									<div id="right">
										<div id="cache" class="content_container">
											<h2>{$_lang_cache}</h2>
											<div>
												<div class="info">
													{$_lang_cache_del_info}
												</div>
												<a href="admin/?flush=1">{$_lang_del_cache}</a>
												<% IF permission("superadmin") %>
													<a href="admin/flushLog/">{$_lang_flush_log}</a>
												<% END %>
											</div>
										</div>
										<% IF PERMISSION("superadmin") %>
										<div id="database" class="content_container">
											<h2>{$_lang_database}</h2>
											<div>
												<p class="info">
													{$_lang_db_update_info}
												</p>
												<a href="dev">{$_lang_db_update}</a>
											</div>
										</div>
										<% END %>
									</div>
			
									<div class="clear"></div>
			
								</div>
							</div>
						</div>
					<% END %>
	
				</div>
			</div>
		</div>
			<!--</div>-->
	</body>
</html>
