<% INCLUDE_CSS "form.less" %>
<% INCLUDE_CSS "leftandmain.css" %>

<% gload("history") %>
<noscript class="lam_noscript">
	<p>{$_lang_noscript}</p>
</noscript>
<% gload("sortable") %>
<table width="100%" style="display: none;" class="leftandmaintable">
	<tr>
		<td class="td left">
			<div class="LaM_tabs">
				<div class="tree" style="display: none;">
					<div class="classtree">
						<div class="treesearch">
							<form method="get" action="">
								<input type="text" placeholder="{$_lang_search}" name="searchtree" value="{$searchtree}" />
								<a class="create ui-ajax" href="{$adminuri}add/" title="{$_lang_Create}"></a>
							</form>
						</div>
						<div class="treewrapper">
							$SITETREE
						</div>
						<% IF $TREEOPTIONS %>
							<div class="tree-options">
								<form method="get" id="tree-options-form" action="">
									$TREEOPTIONS
								</form>
							</div>
						<% END %>
					</div>
				</div>
			</div>
		</td>
		<td class="td main">
			<a href="#" class="leftbar_toggle" title="{$_lang_toggle_sidebar}"><img src="system/templates/images/appbar.list.png" alt="{$_lang_show_sidebar}" /> {$_lang_toggle_sidebar}</a>
			<div class="inner">
				<% IF $CONTENT %>
					$CONTENT
				<% ELSE %>
					<div class="no_item">
						<span>{$_lang_no_item_selected}</span>
					</div>
				<% END %>
			</div>
		</td>
	</tr>
</table>