<% INCLUDE_CSS "leftandmain.css" %>
<% gload("history") %>
<noscript class="lam_noscript">
	<p>{$_lang_noscript}</p>
</noscript>
<% gload("sortable") %>
<table width="100%" style="display: none;" class="leftandmaintable">
	<tr>
		<td class="td left">
			<div class="LaM_tabs">
				<div class="tree" style="display: none;">
					<div class="classtree">
						<div class="add">
							<a class="ui-ajax" href="{$adminuri}add{URLEND}">{$_lang_Create} &raquo;</a>
						</div>
						<div class="treesearch">
							<form method="get" action="">
								<input type="text" placeholder="{$_lang_search}" name="searchtree" value="{$searchtree}" />
								<!--<a class="create ajaxfy" href="{$adminuri}add/" title="{$_lang_Create}"></a>-->
							</form>
						</div>
						<div class="treewrapper">
							$SITETREE
						</div>
					</div>
					<div class="legend">
						<div>
							<h2>{$_lang_legend}</h2>
							<% CONTROL legend() %>
								<div class="{$legend.class} legendpoint">
									<span>
										<% IF $legend.checkbox AND $legend.checked %> 
											<input name="$legend.class" type="checkbox" checked="checked" /> 
										<% ELSE IF $legend.checkbox %> 
											<input name="$legend.class" type="checkbox" /> 
										<% ELSE %> 
											<input name="$legend.class" type="checkbox" checked="checked" disabled="disabled" />
										<% END %>
										{$legend.title}
									</span>
								</div>
							<% ENDCONTROL %>
						</div>
					</div>
				</div>
			</div>
		</td>
		<td class="td main">
			<a href="#" class="leftbar_toggle" title="{$_lang_toggle_sidebar}"><img src="system/templates/images/appbar.list.png" alt="{$_lang_show_sidebar}" /> {$_lang_toggle_sidebar}</a>
			<div class="inner">
				<% IF $CONTENT %>
					$CONTENT
				<% ELSE %>
					<div class="no_item">
						<span>{$_lang_no_item_selected}</span>
					</div>
				<% END %>
			</div>
		</td>
	</tr>
</table>