<script type="text/javascript">
	// <![CDATA[
		$(function(){
			$(".tableview_wrapper .allcheckbox").click(function(){
				if($(this).prop("checked")) {
					$(this).parent().parent().parent().parent().find("input[type=checkbox]").prop("checked", "checked");
				} else {
					$(this).parent().parent().parent().parent().find("input[type=checkbox]").prop("checked", false);
				}
			});
			
			gloader.loadAsync("sortable").done(function(){
				$(".sorttableview_wrapper_sort").sortable({
					helper: 'clone',
					items: ' > tr',
					cursor: "move",
					update: function(event, ui)
					{
						$.ajax({
							url: BASE_SCRIPT + adminURI + "/saveSort/",
							data: $(".sorttableview_wrapper_sort").sortable("serialize", {key: "sort_item[]"}),
							type: "post"
						});
						var i = 0;
						$(".sorttableview_wrapper_sort > tr").each(function(){
							$(this).removeClass("grey");
							if(i == 0) {
								i++;
							} else {
								i = 0;
								$(this).addClass("grey");
							}
						});
					},
					tolerance: 'pointer',
				});
			});
		});
	// ]]>
</script>
<div class="tableview_wrapper sorttableview_wrapper">
	<div class="info_box">
		{$_lang_dragndrop_info}
	</div>
	<form action="$adminURI/deletemany" method="post">
		<input type="hidden" name="deletekey" value="$deletekey" />
		<table width="100%" class="tableview">
			<thead>
				<tr>
					<td class="first">
						<% IF $deletable %>
							<input type="checkbox" class="allcheckbox" name="data[all]" />
						<% END %>
					</td>
					<% CONTROL datafields() as $fields %>
						<td>$fields.title</td>
					<% ENDCONTROL %>
					<td style="padding: 0;">
						<% IF $deletable %>
							<input class="button" type="submit" name="delete" value="{$_lang_delete_selected}" />
						<% END %>
					</td>
				</tr>
			</thead>
			<tbody class="sorttableview_wrapper_sort">
				<% CONTROL this() %>
					<% IF $this.white %> 
						<tr id="sort_item_{$this.id}">
					<% ELSE %>
						<tr id="sort_item_{$this.id}" class="grey">
					<% END %>
						<td class="first">
							<% IF $deletable %>
								<input type="checkbox" name="data[$this.id]" />
							<% END %>
						</td>
						<% CONTROL datafields() AS $fields %>
							<td>
								<% this.getVar($fields.name) %>
							</td>
						<% ENDCONTROL %>
						<td class="actions">
							<% CONTROL Action() %>
								<a href="{$action.url}/{$this.id}?redirect={$_SERVER_REQUEST_URI.url()}">{$action.title}</a>
							<% ENDCONTROL %>
						</td>
					</tr>
				<% ENDCONTROL %>
			</tbody>
		</table>
		<% INCLUDE "pages.html" %>
		<% CONTROL GlobalAction() AS $action %>
			<a href="{$action.url}?redirect={$_SERVER_REQUEST_URI.url()}" class="button">{$action.title}</a>
		<% ENDCONTROL %>
		
	</form>
</div>