<!DOCTYPE html>
<html lang="{$_cms_lang}">
	<head>
		<base href="{BASE_URI}" />
		<title>{$_cms_ptitle} <% IF $title %> - $title <% ELSE %> - {$_lang_administration} <% END %></title>
		
		<!-- some css -->
		<% INCLUDE_CSS "style.css" %>
		<% INCLUDE_CSS "box.css" %>
		<% INCLUDE_CSS "jqueryui/theme.css" %>
		
		<!-- some js -->
		<% INCLUDE_JS_MAIN "jquery" %>
		<% INCLUDE_JS_MAIN "js/loader.js" %>
		{$header}
	</head>
	<body>
		<div id="wrapper_logout">
			
			<div class="wrapper_inner">
				<a href="http://goma-cms.org" target="_blank"><img id="logo" src="system/templates/admin/images/logo.png" alt="logo" /></a>
				<div class="header">
					<h1>$_cms_ptitle - <% lang("administration", "Admin-Panel") %></h1>
				</div>
				<div class="content">
					$addcontent
					<form method="get" action="{BASE_URI}{BASE_SCRIPT}admin/">
						<select name="locale">
							<% CONTROL languages() AS $lang %>
								<% IF $lang.active %>
									<option value="$lang.name" selected="selected">$lang.title</option>
								<% ELSE %>
									<option value="$lang.name">$lang.title</option>
								<% END %>
							<% ENDCONTROL %>
						</select>
						<input class="button" type="submit" value="{$_lang_switchlang}" />
						<a href="{BASE_URI}{BASE_SCRIPT}admin/" class="button">{$_lang_back}</a>
					</form>
					
				</div>
			</div>
		</div>
	</body>
</html>