<script type="text/javascript">
	// <![CDATA[
		$(function(){
			$(".tableview_wrapper .allcheckbox").click(function(){
				if($(this).prop("checked")) {
					$(this).parent().parent().parent().parent().find("input[type=checkbox]").prop("checked", "checked");
				} else {
					$(this).parent().parent().parent().parent().find("input[type=checkbox]").prop("checked", false);
				}
			});
		});
	// ]]>
</script>
<div class="tableview_wrapper">
	<form action="" method="post">
		<input type="submit" style="position: absolute;top: -500px;" />
		<input type="hidden" name="deletekey" value="$deletekey" />
		<table width="100%" class="tableview">
			<thead>
				<tr>
					<td class="first">
						<% IF $deletable %>
							<input type="checkbox" class="allcheckbox" name="data[all]" />
						<% END %>
					</td>
					<% CONTROL datafields() as $field %>
						<% IF $field.sortable %>
							<% IF $field.orderdesc %>
								<td>
									<a href="{$adminURI}/?order=$field.name.url()" class="orderdesc">
										<span></span>
										$field.title
									</a>
								</td>
							<% ELSEIF $field.order %>
								<td>
									<a href="{$adminURI}/?order=$field.name.url()&ordertype=desc" class="orderasc">
										<span></span>
										$field.title
									</a>
								</td>
							<% ELSE %>
								<td>
									<a href="{$adminURI}/?order=$field.name.url()">
									<span></span>
									$field.title
									</a>
								</td>
							<% END %>
						<% ELSE %>
							<td>$field.title</td>
						<% END %>
					<% ENDCONTROL %>
					<td class="actions">
						<% IF $deletable %>
							<input class="button" type="submit" name="delete_many" value="{$_lang_delete_selected}" />
						<% END %>
					</td>
				</tr>
				<% IF $search %>
					<tr class="search">
						<td></td>
						<% CONTROL datafields() as $field %>
							<td class="field">
								<div>
								<% IF $field.searchable %>
									<input type="search" name="search_{$field.name}" value="$field.searchval.text()" />
									<% IF $field.searchval %>
										<button type="submit" class="cancel" name="search_{$field.name}_cancel">&times;</button>
									<% END %>
									<input type="image" value="" src="system/templates/admin/images/loope.png" />
								<% END %>
								</div>
							</td>
						<% ENDCONTROL %>
						<td></td>
					</tr>
				<% END %>
			</thead>
			<tbody>
				<% IF $this %>
					<% activatePagination($_GET_bp, $perPage) %>
					<% CONTROL this() %>
						<% IF $this.white %> 
							<tr id="tablenode_{$this.id}">
						<% ELSE %>
							<tr id="tablenode_{$this.id}" class="grey">
						<% END %>
							<td class="first">
								<% IF $deletable %>
									<input type="checkbox" name="data[$this.id]" />
								<% END %>
							</td>
							<% CONTROL datafields() AS $fields %>
								<td>
									<% this.getVar($fields.name) %>
								</td>
							<% ENDCONTROL %>
							<td class="actions">
								<% CONTROL Action() %>
									<a href="{$action.url}/{$this.id}{URLEND}?redirect={$_SERVER_REQUEST_URI.url()}">{$action.title}</a>
								<% ENDCONTROL %>
							</td>
						</tr>
					<% ENDCONTROL %>
				<% ELSE %>
					<tr>
						<th colspan="20" class="no_data">
							<% lang("no_result", "There is no data to show.") %>
						</th>
					</tr>
				<% END %>
			</tbody>
		</table>
		<div class="foot">
			<div class="pages">
				{$_lang_page}:
				
				<% CONTROL pages() %>
					<% IF $pages.black %>
						<span class="black">$pages.page</span>
					<% ELSE %>
						<a href="<% echo addParamToURL($_SERVER_REQUEST_URI, "bp", $pages.page) %>">{$pages.page}</a>
					<% END %>
				<% ENDCONTROL %>
			</div>
			<% CONTROL GlobalAction() AS $action %>
				<a href="{$action.url}{URLEND}?redirect={$_SERVER_REQUEST_URI.url()}" class="button">{$action.title}</a>
			<% ENDCONTROL %>
			<div class="clear"></div>
		</div>
	</form>
</div>