<div class="adminContent">
	<h3>{$_lang_info}</h3>
	<table  class="updateInfo">
		<tr class="first">
			<td class="left">
				<% lang("files.filename") %>
			</td>
			<td class="value">
				{$filename}
			</td>
		</tr>
		<tr>
			<td class="left">
				{$_lang_update_type}
			</td>
			<td class="value">
				{$type}
			</td>
		</tr>
		<tr>
			<td class="left">
				{$_lang_installed_version}
			</td>
			<td class="value">
				$installed
			</td>
		</tr>
		<tr>
			<td class="left">
				{$_lang_version}
			</td>
			<td class="value">
				$version
			</td>
		</tr>
		<% IF $changelog %>
			<tr>
				<td class="left">
					{$_lang_update_changelog}
				</td>
				<td class="value">
					<div class="changelog_scroll">
						$changelog.textLines()
					</div>
				</td>
			</tr>
		<% END %>
		<% IF NOT $installable AND $error %>
			<tr>
				<td class="left">
					{$_lang_error}
				</td>
				<td class="value">
					<div class="error">{$error}</div>
				</td>
			</tr>
		<% END %>
		<% IF $installable %>
			<tr class="sign">
				<td class="left">
					{$_lang_signed}
				</td>
				<td class="value">
					<% IF $signed %>
						<div class="success">{$_lang_signed_true}</div>
					<% ELSE IF $signed_ssl_not_installed == 1 %>
						<div class="error">{$_lang_signed_false_ssl}</div>
					<% ELSE %>
						<div class="notice">{$_lang_signed_false}</div>
					<% END %>
				</td>
			</tr>
		<% END %>
		<tr>
			<td class="left">
				{$_lang_updatable}
			</td>
			<td class="value">
				<% IF $installable %>
					{$_lang_yes}
				<% ELSE %>
					{$_lang_no}
				<% END %>
			</td>
		</tr>
	</table>
	
	<% IF $installable %>
		<div class="updateActions">
			<a href="admin/update/installUpdate/?update={$fileid}" class="button">{$_lang_update_install}</a>
		</div>
	<% END %>
</div>