<div id="storeUnavailable" style="display: none;" class="notice">
	<% lang("update_connection_failed") %>
</div>

<script type="text/javascript">
	goma.AddOnStore.onReady(function(){
		goma.AddOnStore.ajax({
			type: "post",
			url: "updates",
			data: {"updates": $updatables_json }
		}).done(function(html, textStatus, jqXHR){
			$("#updates > h1 > .num").text(jqXHR.getResponseHeader("X-Update-Count") ? jqXHR.getResponseHeader("X-Update-Count") : 0);
			goma.ui.renderResponse(html, jqXHR, $("#appStoreArea")).done(function(){
				$("#appStoreArea").html(html);
			});
		});
	});
</script>

<% INCLUDE_JS_MAIN "apps/AddonStoreClient.js" %>

<% gload("htmllib") %>

<div id="updates">
	<div class="upload">
		<a class="button" href="{BASE_SCRIPT}admin/update/upload/"><% lang("update_upload", "Upload update-file") %></a>
	</div>
	<h1><% IF $updates.count() = 1 %> <span class="num">1</span> {$_lang_update} <% ELSE %> <span class="num">$updates.count</span> {$_lang_updates} <% END %></h1>
	<div id="appStoreArea">
		<span class="loading"><img src="images/16x16/loading.gif" alt="" /> {$_lang_loading}</span>
	</div>
</div>
