<div id="storeUnavailable" style="display: none;" class="notice">
	<% lang("update_connection_failed") %>
</div>

<script type="text/javascript">
	
	function loadUpdates() {
		goma.AddOnStore.uiAjax(null, {
			type: "post",
			url: "updates",
			data: {"updates": $updatables_json }
		}).done(function(html, textStatus, jqXHR){
			$("#updates > h1 > .num").text(jqXHR.getResponseHeader("X-Update-Count") ? jqXHR.getResponseHeader("X-Update-Count") : 0);
		});
	}
	
	goma.AddOnStore.onReady(function(){
		
		goma.AddOnStore.bindUIAjax(function(o){
			if(o.url.match(/updates$/)) {
				o.type = "post";
				o.data = {"updates": $updatables_json };
			}
			
			return o;
		});
		
		goma.AddOnStore.setENV($("#appStoreArea"), "admin/update/upload{URLEND}");
		loadUpdates();
		goma.AddOnStore.history.push("updates");
	});
</script>

<% gload("htmllib") %>

<div id="updates">
	<div class="upload">
		<a class="button" href="{BASE_SCRIPT}admin/update/upload/"><% lang("update_upload", "Upload update-file") %></a>
	</div>
	<h1><% IF $updates.count() = 1 %> <span class="num">1</span> {$_lang_update} <% ELSE %> <span class="num">$updates.count</span> {$_lang_updates} <% END %></h1>
	<div id="appStoreArea">
		<% IF NOT $_GET_nojs %>
			<span class="loading"><img src="images/16x16/loading.gif" alt="" /> {$_lang_loading}</span>
		<% ELSE %>
			<div class="error">{$_lang_noscript}</div>
		<% END %>
	</div>
</div>
