<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>installer</string>
	<key>name</key>
	<string>goma_installer</string>
	<key>author</key>
	<string>Goma Team</string>
	<key>version</key>
	<string>2.0</string>
	<key>build</key>
	<string>009</string>
	<key>requireFrameworkVersion</key>
	<string>2.0-040</string>
	<key>langPath</key>
	<string>lang</string>
	<key>langName</key>
	<string>install</string>
	<key>defaultLang</key>
	<string>en-us</string>
	<key>title</key>
	<string>Goma Installer</string>
	<key>enableAdmin</key>
	<false />
</dict>
</plist>