<% INCLUDE_CSS "compare.css" %>
<% IF $css %>
	<% INCLUDE_CSS $css %>
<% END %>

<div class="adminContent">
	<h2>{$_lang_compare}</h2>
</div>
<div class="compareView">
	<table width="100%">
		<% CONTROL fields() %>
			<% IF $fields.white %>
				<tr>
			<% ELSE %>
				<tr class="grey">
			<% END %>
				<td class="title">
					$fields.title.text()
				</td>
				<td class="content">
					<% IF $fields.content %>
						$fields.content
					<% ELSE %>
						-
					<% END %>
				</td>
			</tr>
		<% ENDCONTROL %>
	</table>
</div>