<% IF $canSeeEvent %>
	<% IF $first %>
		<div class="event first $EventClass">
	<% ELSE %>
		<div class="event $EventClass">
	<% END %>
		<img src="$icon" data-retina="$retinaIcon" alt="" />
		<div class="date">$created.ago(false)</div>
		<p>$content</p>
		
		<div class="version">
			<% IF $isversioned AND $namespace %>
					<a rel="dropdownDialog[left]" href="$namespace/restoreVersion/{$dbobject}/{$oldversionid}{URLEND}?redirect={$editurl.url()}" class="button">{$_lang_undo}</a>
			<% END %>
			
			<% IF $compared AND $namespace %>
				<a rel="dropdownDialog[left]" href="$namespace/compareVersion/{$dbobject}/{$oldversionid}/{$newversionid}{URLEND}?redirect={$_SERVER_REDIRECT.url()}" class="button">{$_lang_compare}</a>
			<% END %>
		</div>
		
		<div class="clear"></div>
	</div>
<% END %>