<% INCLUDE_CSS "history.css" %>
<% INCLUDE_JS "history.js" %>
<script type="text/javascript">
	jQuery(function(){
		bindHistory($("#{$id}"));
	});
</script>
<% activatePagination($_GET_page, 10) %>
<div id="$id" class="history">
	<% IF isPageBefore() %>
		<a href="<% addParamToURL($_SERVER_REAL_REQUEST_URI, "page", PageBefore()) %>" class="newer">{$_lang_newer}</a>
	<% END %>
	<% IF $this %>
		<% CONTROL this() %>
			<% IF $this.first %>
				<div class="event first">
			<% ELSE %>
				<div class="event">
			<% END %>
				<img src="$this.icon" data-retina="$this.retinaIcon" alt="" />
				<span class="date">$this.created.date()</span>
				<p>$this.content</p>
				<% IF $this.versioned AND $namespace %>
					<div class="version">
						<a href="$namespace/restoreVersion/{$this.dbobject}/{$this.oldversionid}{URLEND}?redirect={$_SERVER_REDIRECT.url()}" class="button">{$_lang_restore}</a> 
						<% IF $this.compared %>
							<a href="$namespace/compareVersion/{$this.dbobject}/{$this.oldversionid}/{$this.newversionid}{URLEND}?redirect={$_SERVER_REDIRECT.url()}" class="button">{$_lang_compare}</a>
						<% END %>
					</div>
				<% END %>
				<div class="clear"></div>
			</div>
		<% ENDCONTROL %>
	<% ELSE %>
		<div class="no_entries">
			{$_lang_no_result}
		</div>
	<% END %>
	<% IF isNextPage() %>
		<a id="{$id}_link" href="<% addParamToURL($_SERVER_REAL_REQUEST_URI, "page", NextPage()) %>" class="older">{$_lang_older}</a>
	<% END %>
</div>