<% INCLUDE_CSS "history.css" %>
<% INCLUDE_JS "history.js" %>
<script type="text/javascript">
	(function($){
		$(function(){
			var scrolls = {relevant: 0, all: 0};
			bindHistory($("#{$id}"), $filter);
			$(".historyoptions li a").click(function(){
				
				var history = $(this).parent().parent().parent().next();
				// save scroll
				if($(".historyoptions li a.active").attr("name") == "relevant") {
					scrolls.relevant = history.scrollTop();
				} else {
					scrolls.all = history.scrollTop();
				}
				
				// switch
				history.removeClass("relevant").removeClass("all").addClass($(this).attr("name"));
				$(this).parent().parent().find("a").removeClass("active");
				$(this).addClass("active");
				
				// set scroll
				if($(this).attr("name") == "relevant") {
					 history.scrollTop(scrolls.relevant);
				} else {
					history.scrollTop(scrolls.all);
				}
				
				return false;
			});
		});
	})(jQuery);
</script>
<% activatePagination($_GET_page, 10) %>
<!--<div class="historyoptions">
	<ul>
		<li>
			<a href="#relevant" class="active" name="relevant">{$_lang_h_relevant}</a>
		</li>
		<li>
			<a href="#all" name="all">{$_lang_h_all}</a>
		</li>
	</ul>
</div>-->
<div id="$id" class="history scrollable all">
	<% IF isPageBefore() %>
		<a href="<% addParamToURL($_SERVER_REAL_REQUEST_URI, "page", PageBefore()) %>" class="newer">{$_lang_newer}</a>
	<% END %>
	<% IF $this %>
		<% CONTROL this() %>
			<% INCLUDE("event.html", $this) %>
		<% ENDCONTROL %>
	<% ELSE %>
		<div class="no_entries">
			{$_lang_no_result}
		</div>
	<% END %>
	<% IF isNextPage() %>
		<a id="{$id}_link" href="<% addParamToURL($_SERVER_REAL_REQUEST_URI, "page", NextPage()) %>" class="older">{$_lang_older}</a>
	<% END %>
</div>