<% INCLUDE_CSS "history.css" %>
<% activatePagination($_GET_page, 10) %>
<div class="history">
	<% IF isPageBefore() %>
		<a href="<% addParamToURL($_SERVER_REQUEST_URI, "page", PageBefore()) %>" class="newer">{$_lang_newer}</a>
	<% END %>
	<% CONTROL this() %>
		<% IF $this.first %>
			<div class="event first">
		<% ELSE %>
			<div class="event">
		<% END %>
			<img src="$this.icon" data-retina="$this.retinaIcon" alt="" />
			<span class="date">$this.created.date()</span>
			<p>$this.content</p>
			<div class="clear"></div>
		</div>
	<% ENDCONTROL %>
	<% IF isNextPage() %>
		<a href="<% addParamToURL($_SERVER_REQUEST_URI, "page", NextPage()) %>" class="older">{$_lang_older}</a>
	<% END %>
</div>