<!DOCTYPE html>
<html lang="de">
	<head>
		<% IF $reload %>
			<% IF $destination %>
				<meta http-equiv="refresh" content="3; URL=$destination" />
			<% ELSE %>
				<meta http-equiv="refresh" content="3" />
			<% END %>
		<% END %>
		<title>Archive $archive</title>
		<base href="{BASE_URI}" />
		<link rel="stylesheet" href="//goma-cms.org/less.php?file=system/templates/css/default.css" />
		<link rel="stylesheet" href="//goma-cms.org/less.php?file=system/templates/css/goma_default.css" />
		<link rel="stylesheet" href="//goma-cms.org/less.php?file=system/templates/admin/style-front.css" />
		<style type="text/css">
			h3 {
				padding-left: 4px;
			}
			.current {
				color: #888;
				padding: 0.5em;;
			}
			#progress {
				margin: 0.5em;
			}
			.wholeprogress {
				width: 600px;
				height: 20px;
				border: 1px solid #999;
				background: #fff;
			}
			.currentprogress {
				height: 20px;
				background: #aaa;
			}
		</style>
		<script type="text/javascript">
			window.onload = function() {
				document.getElementById("reload").style.display = "none";
				setTimeout(function(){
					<% IF $destination %>
						location.href = '$destination';
					<% ELSE %>
						location.reload();
					<% END %>
				}, 3000);
			}
		</script>
		
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	</head>
	<body>
		<div id="document">
			<div class="logo_wrapper">
				<div class="content_wrapper">
					<div class="beside_logo">
						
					</div>
					<a href=""><img id="logo" src="//goma-cms.org/system/templates/admin/images/logo.png" data-retina="//goma-cms.org/system/templates/admin/images/logo@2x.png" alt="logo" /></a>
				</div>
			</div>
			
			<div id="wrapper" class="content_wrapper">
				<div class="header">
					<div class="content_wrapper">
						<h1>Goma</h1>
					</div>
				</div>
				<div class="content">
					<div class="content_wrapper">
						<h3>$status</h3>
						
						<strong style="color: #760f00"><em>Don't</em> close the window until it is finished!</strong>
						
						<div id="progress">
							<div class="wholeprogress">
								<div class="currentprogress" style="width: <% echo $progress * 6 %>px;"></div>
							</div>
						</div>
						<div class="current">$current &nbsp; $remaining</div>
						<div id="reload">
						<% IF $reload %>
							If this page doesn't reload within 4 seconds, please click here: <a href="">Reload</a>
						<% END %>
						</div>
					</div>
				</div>
			</div>
			
			<div class="footer-spacer"></div>
			<div class="footer">
				<div class="content_wrapper">
					<div class="branding" style="text-align: center;float: none;">Powered by <a href="http://goma-cms.org">Goma</a></div>
				</div>
			</div>
		</div>
	</body>
</html>
