<!DOCTYPE html>
<html lang="de">
	<head>
		<title>{$subject}</title>
		<base href="{BASE_URI}" />
	</head>
	<body style="font-family: Arial; font-size: 12pt; padding: .5em; margin: 0; background: #fff; color: #222; line-height: 1.5em;">
		<div id="mail_wrapper" style="padding: 50 8px; margin: auto; max-width: 800px;">
			<div class="wrapper_inner">
				<div class="header" style="padding: 8x;">
					<h1 style="font-size:18pt;line-height: 2em;margin: 0;font-weight: 200;"><a style="color: #555;font-size: 18pt;text-decoration:none;" href="{BASE_URI}">$_cms_ptitle</a></h1>
				</div>
				<div class="content" style="background: #fff;padding: 8px;">
					{$message}
				</div>
                <div class="footer" style="padding: 8px;text-align:right;color: #777;font-size: 10pt;">
                    Powered by 
                    <a target="_blank" href="http://goma-cms.org" target="_blank">
                        <img id="logo" style="margin-bottom: -3px" height="20" width="64" src="https://goma-cms.org/system/templates/admin/images/logo.png" alt="Goma" />
                    </a>
                </div>
			</div>
		</div>
	</body>
</html>
