<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de">
	<head>
		<title>Mail: {$subject}</title>
		<base href="{BASE_URI}" />
		<link rel="stylesheet" href="{BASE_URI}system/templates/admin/style.css" />
	</head>
	<body>
		<div id="wrapper_logout">
			
			<div class="wrapper_inner">
				<a target="_blank" href="http://goma-cms.org" target="_blank"><img id="logo" src="{BASE_URI}system/templates/admin/images/logo.png" alt="logo" /></a>
				<div class="header">
					<a href="{BASE_URI}"><h1>$_cms_ptitle</h1></a>
				</div>
				<div class="content">
					{$message}
				</div>
			</div>
		</div>
	</body>
</html>