<!DOCTYPE html>
<html lang="{$_cms_lang}">
	<head>
		<base href="{BASE_URI}" />
		<title>{$_cms_ptitle} <% IF $title %> - $title <% ELSE %> - {$_lang_administration} <% END %></title>
		
		<!-- some css -->
		<% INCLUDE_CSS_MAIN "admin/style-front.css" %>
		<% INCLUDE_CSS_MAIN "jqueryui/theme.css" %>
		
		<% headerHTML() %>
		
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	</head>
	<body>
		<div id="document">
			<div class="logo_wrapper">
				<div class="content_wrapper">
					<div class="beside_logo">
						<a href="{BASE_SCRIPT}admin/switchlang/" title="{$_lang_switchlang}"><img src="images/icons/fatcow-icons/32x32/locate.png" alt="{$_lang_switchlang}" /></a>
					</div>
					<a href="{BASE_SCRIPT}admin{URLEND}"><img id="logo" src="system/templates/admin/images/logo.png" data-retina="system/templates/admin/images/logo@2x.png" alt="logo" /></a>
				</div>
			</div>
			
			<div id="wrapper" class="content_wrapper">
				<div class="header">
					<% IF $content %>
						<h1><a href="/">{$_cms_ptitle} - <% lang("administration", "Admin-Panel") %></a></h1>
					<% ELSE %>
						<h1><a href="/"><% lang("wartung", "maintenance") %></a></h1>
					<% END %>
				</div>
				<div class="content">
					<div class="notice">
						<% lang("SITE_CURRENT_MAINTENANCE", "This Site is currently under maintenance. Please check back soon.") %>
					</div>
					
					$addcontent
					<% IF $content %>
						$content
					<% ELSE %>
						<script type="text/javascript">
							(function(){
								$(function(){
									if($("#admin_name").val() == "" || $("#admin_name").val() == $("#admin_name").attr("placeholder")) {
										$("#admin_name").focus();
									} else {
										$("#admin_pwd").focus();
									}
								});
							})(jQuery);
						</script>
						<form class="login_form" action="{BASE_SCRIPT}profile/login/?redirect={$_SERVER_REDIRECT.url()}" method="post">
							<label for="login_name">{$_lang_email_or_username}</label>
							<input type="text" name="user" title="{$_lang_email_or_username}" id="login_name" value="{$_POST_user}" />
							<label for="login_pwd">{$_lang_password}</label>
							<input type="password" id="login_pwd" title="{$_lang_password}" name="pwd" />
							<div class="_actions">
								<div>
									<input class="button" type="submit" class="submit" value="<% lang('perform_login', 'Login') %>"  />
									<a href="{ROOT_PATH}"><% lang("back", "back") %></a>
								</div>
								<a href="profile/lost_password{URLEND}">{$_lang_lost_password}</a>
							</div>
						</form>
						
					<% END %>
					
				</div>
			</div>
			
			<div class="footer-spacer"></div>
			<div class="footer">
				<div class="content_wrapper">
					<div class="branding" style="text-align: center;float: none;">Powered by <a target="_blank" href="http://goma-cms.org">Goma</a></div>
				</div>
			</div>
		</div>
	</body>
</html>