<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de">
	<head>
		<title>Restricted Access</title>
		<base href="{BASE_URI}" />
		<link rel="stylesheet" href="system/templates/css/default.css" />
		<link rel="stylesheet" href="system/templates/admin/style.css" />
	</head>
	<body>
		<div id="wrapper_logout">
			
			<div class="wrapper_inner">
				<a target="_blank" href="http://goma-cms.org" target="_blank"><img id="logo" src="{BASE_URI}system/templates/admin/images/logo.png" alt="logo" /></a>
				<div class="header">
					<a href="{$BASE_URI}"><h1>$_cms_ptitle</h1></a>
				</div>
				<div class="content">
					<h3>Restricted Access</h3>
					<p>You don't have permissions to access to this file on this server!</p>
					<h3>Zugriff nicht erlaubt!</h3>
					<p>Sie haben nicht die Berechtigung diese Datei aufzurufen!</p>
					<p>The line <pre>define('IN_GOMA', true);</pre> is missing here.</p>				
				</div>
			</div>
		</div>
	</body>
</html>