<div id="langSelect">
	<div class="back">
		<a href="{$_SERVER_REDIRECT_PARENT}">{$_lang_back}</a>
	</div>
	<h3>{$_lang_select_lang}</h3>
	<div class="selectBox">
		<ul>
			<% CONTROL languages() AS $lang %>
				<% IF $lang.code = $_cms_lang %>
					<li class="active">
				<% ELSE %>
					<li>
				<% END %>
					<a href="<% echo addParamToURL($_SERVER_REDIRECT_PARENT, "setlang", $lang.code) %>">
						<img src="$lang.icon" alt="$currentLang.code" />
						<span>$lang.title</span>
					</a>
				</li>
			<% ENDCONTROL %>
		</ul>
		<div class="clear"></div>
	</div>
</div>