/* frontedbar */
#frontedbar_spacer {
	height: 42px;
	width: 100%;
}
#frontedbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: url(images/frontedbar.png) repeat-x;
	
	z-index: 800;
}
#frontedbar_inner {
	width: 100%;
	height: 40px;
	background: url(images/logo_white_frontedbar.png) no-repeat left center;
	padding-left: 80px;
	overflow: hidden;
}
#frontedbar_inner div {
	float: left;
}
#frontedbar_inner div a, #frontedbar_inner div span {
	display: block;
	color: #ddd;
	font-family: Helvetica;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 18px;
	margin: 4px;
	border-left: 1px solid #606060;
	text-decoration: none;
}
#frontedbar_inner div a:hover {
	color: #fff;
}
#frontedbar_inner div.endclear {
	float: none;
	clear: both;
}

@media only screen and (min-width: 800px) {
	#frontedbar_inner {
		width: 800px;
		margin: auto;
	}
}
@media only screen and (max-width: 650px) {
	#frontedbar_inner div a, #frontedbar_inner div span {
		padding: 8px 8px;
		margin: 4px 0;
	}
}
@media only screen and (max-width: 450px) {
	#frontedbar_inner div a, #frontedbar_inner div span {
		font-size: 10px;
		padding: 10px 4px;
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) {
	#frontedbar_inner {
		background-image: url(images/logo_white_frontedbar@2x.png);
		background-size: 70px 22px;
	}
}

@media print {
	#frontedbar {
		display: none;
	}
	#frontedbar_spacer {
		display: none;
	}
}