/* frontedbar */
#frontedbar_spacer {
	height: 3.25em;
	width: 100%;
}
#frontedbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	background: rgba(255, 255, 255, 0.95);
	border-bottom: 1px solid #ccc;
	border-color: rgba(230, 230, 230, 0.95);
	overflow: auto;
	
	z-index: 800;
}
#frontedbar_inner {
	width: 100%;
	padding: 0;
	background: url(images/logo_frontendbar.png) no-repeat left 0.563em;
	background-size: 6em 1.875em;
	padding-left: 100px;
	height: 3.25em !important;
}
#frontedbar_inner div {
	display: inline-block;
}
#frontedbar_inner div a, #frontedbar_inner div span {
	display: block;
	font-family: Helvetica;
	font-size: 1em;
	line-height: 1.25em;
	padding: 0.875em 1em 0.625em 1em;
	margin: 0.25em;
}
#frontedbar_inner div.endclear {
	float: none;
	clear: both;
}

@media only screen and (min-width: 800px) {
	#frontedbar_inner {
		width: 800px;
		margin: auto;
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) {
	#frontedbar_inner {
		background-image: url(images/logo_frontendbar@2x.png);
		background-size: 96px 30px;
	}
}

@media print {
	#frontedbar {
		display: none;
	}
	#frontedbar_spacer {
		display: none;
	}
}
