@system-bg: #fff;
@system-color: #000;

@system-blue: #4699d2;
@system-brightblue: #E3EFF6;
@system-yellow: #d8c20a;
@system-green: #24ACB8;
@system-red: #da097a;
@system-tint: @system-blue;
@system-tint-bg: #fff;
@system-action: @system-tint;
@system-highlight: @system-yellow;

@system-arrows-bottom: "arrows-bottom-blue.png";
@system-arrows: "blue";

@color-action: @system-green;
@selection-color: lighten(@system-red, 20%);