<!DOCTYPE html>
<html lang="{$_cms_lang}">
	<head>
		<base href="{BASE_URI}" />
		<title><% title() %> {TITLE_SEPERATOR} {$_cms_ptitle}</title>
		<% headerHTML() %>
		
		<% INCLUDE_CSS_MAIN "jqueryui/theme.css" %>
		<% INCLUDE_CSS_MAIN "style.css" %>
		<% INCLUDE_CSS_MAIN "typography.css" %>
		
		<style type="text/css">
			{$own_css}
		</style>
	</head>
	<body>
		<div id="document" itemscope itemtype="http://schema.org/WebPage">
			<meta itemprop="name" content="<% title() %>" />
			<% INCLUDE "frontendbar.html" %>
			<!--<div id="topline"><div></div></div>-->
			
			<div id="header">
				<div class="content_wrapper">
					<div class="quickLinks">
						<% IF login() %>
							<a href="profile/" class="user">$loggedInUser.image.setSize(16, 16)  <strong>{$_cms_user}</strong></a>
							|
							<a href="#" onclick="$('#loginFormGlobe').submit();return false;">{$_lang_logout}</a>
							<form method="post" id="loginFormGlobe" action="{BASE_SCRIPT}profile/logout">
								<input type="hidden" name="logout" value="1" />
								<input type="hidden" name="redirect" value="{$_SERVER_REQUEST_URI}" />
								<noscript>
									<input class="logoutButton" type="submit" class="button" value="{$_lang_logout}" style="margin: 2px 0;" />
								</noscript>
							</form>
						<% ELSE %>
							<a href="profile/login/?redirect={$_SERVER_REQUEST_URI.URL()}">{$_lang_login}</a>
							|
							<a href="profile/register">{$_lang_register}</a>
						<% END %>
						
					</div>
					<div class="clear"></div>
					<form id="search" method="get" action="search/">
						<input class="input" type="search" name="q" placeholder="<% lang('search') %>" />
						<input type="image" src="tpl/{$_cms_tpl}/images/loope.png" value="{$_lang_search.search}" />
					</form>
					<h3><a href="./">{$_cms_title}</a></h3>
					<div id="navi" itemscope itemtype="http://schema.org/SiteNavigationElemente">
						<ul>
							<% CACHED("mainbar", mainbar(1).maxCount("last_modified")) %>
								<% CONTROL mainbar(1) %>
									<li>
										<a href="{$mainbar.url}" class="{$mainbar.LinkClass}">$mainbar.mainbartitle.text()</a>
									</li>
								<% ENDCONTROL %>
							<% ENDCACHED %>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
				
			</div>
			
			
			<div id="content">
				<div class="content_wrapper" itemprop="mainContentOfPage">
					
					<% IF NOT is_homepage() %>
						<div id="breadcrumb" itemprop="breadcrumb">
							<a href="./">{$_lang_homepage} </a>
							<% CONTROL breadcrumbs() AS $breadcrumb %>
								{BREADCRUMB_SEPERATOR} <a href="{$breadcrumb.link}">{$breadcrumb.title}</a>
							<% ENDCONTROL %>
						</div>
					<% END %>

					$addcontent
					
					<div id="prependedContent">
						<% echo PrependedContent() %>
					</div>
					
					$content
					
					<div id="appendedContent">
						<% echo AppendedContent() %>
					</div>
					
					<div class="clear"></div>
					
				</div>
			</div>
			
			<div id="footer" itemscope itemtype="http://schema.org/WPFooter">
				<div class="content_wrapper">
					<div class="branding">
						Powered by <a target="_blank" href="http://goma-cms.org">Goma</a>
					</div>
					<div class="quickLinks">
						<a href="impressum/">{$_lang_imprint}</a>
						<a href="kontakt/">{$_lang_contact}</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>