<% INCLUDE_CSS "templateSwitcher.css" %>
<% INCLUDE_JS "templateSwitcher.js" %>
<div class="templateSwitcher" id="{$id}_switcher">
	<% CONTROL this() %>
		<% IF $this.selected %>
			<div class="template selected" name="$this.name.text()">
		<% ELSE %>
			<div class="template" name="$this.name.text()">
		<% END %>
		
			<% IF $this.title %>
				<h3>$this.title.text()</h3>
			<% ELSE %>
				<h3>$this.name.text()</h3>
			<% END %>
			<div class="screenshot">
				<% IF $this.screenshot %>
					<img src="images/resampled/220/200/$this.screenshot" alt="" />
				<% END %>
			</div>
			<div class="description">
				<table class="datatable" width="100%">
					<tr>
						<td class="key">
							<% lang("author") %>
						</td>
						<td>
							$this.author.text()
						</td>
					</tr>
					<tr>
						<td class="key">
							<% lang("version") %>
						</td>
						<td>
							$this.version.text()
						</td>
					</tr>
				</table>
			</div>
		</div>
	<% ENDCONTROL %>
	<div class="clear"></div>
</div>