<tr class="tablefield_pagination">
	<th colspan="$columnCount">
		<div class="pages">	
			<span class="title">{$_lang_page}</span>
			<% CONTROL this() %>
				<% IF $this.fieldbutton %>
				<% CONTROL this.fieldbutton.jsRenderResources() as $resource %>
					<% INCLUDE_JS $resource %>
				<% ENDCONTROL %>

				<% CONTROL this.fieldbutton.cssRenderResources() as $resource %>
					<% INCLUDE_CSS $resource %>
				<% ENDCONTROL %>

				<span class="page">$this.fieldbutton.field</span>
				<% ELSE %>
				<span class="page">$this.field</span>
				<% END %>
			<% ENDCONTROL %>
		</div>
		<div class="actions">
			DefineFragment(pagination-footer-right)
		</div>
		<div>
			$showStart - $showEnd {$_lang_tablefield_out_of} $whole
		</div>
		<div lass="clear"></div>
	</th>
</tr>